

.post {

  header {
    padding: 12px 10px;
    border-bottom: 1px solid #EEE;

    h1 {
      font-weight: 600;
      margin: 0;
    }
  }

  main {
    padding: 10px 10px 4px 10px;
    word-break: break-all;

    &:after {
      content: ' ';
      display: table;
      clear: both;
    }

    /* /deep/ 의미
     * [innerHtml]과 같이 쓸 때 안에 있는 객체들은
     * 해당 파일에서 태그 이름을 넣는다고 적용이 되지 않음
     * CSS에서는 body >>> tag 와 같이 쓰고
     * SASS에서는 body /deep/ tag와 같이 쓰면
     * 안쪽에 있는 객체들 (innerHtml에 넣어진 값들)에 스타일이 적용됨
     * @URL
     * https://angular.io/docs/ts/latest/guide/component-styles.html#!#sts=%2Fdeep%2F
     */
    /deep/ img {
      max-width: 100%;
    }
  }

  .social-btn {
    padding: 30px 0 30px;

    a {
      border-color: #E5E5E5;
    }
  }

  .tags {
    padding: 10px 10px 4px 10px;

    a {
      margin-right: 4px;
    }
  }

  .post-bottom {
    border-top: 1px solid #ddd;
    line-height: 1.42857143;

    .editor {
      line-height: 1.42857143;
      color: #4e4e4e;
      padding: 8px;

      & > *:after {
        content: ' · ';
        display: inline-block;
      }
      & > *:last-child:after {
        content: '';
      }
    }

    &:after {
      content: ' ';
      display: table;
      clear: both;
    }

    > .comment-tab {
      display: inline-block;
      border-bottom: none;
      padding: 8px;
      text-align: center;
      cursor: pointer;

      &.active {
        border-bottom: solid 2px #f56400;
      }
    }

    .post-action {
      padding: 9px;
    }
  }
}
