<div class="d-flex p-4 border-bottom">
  <div class="">
    <div class="font-weight-bold h-50">
      {{post.title}}
    </div>
    <div class="text-secondary h-50">
      {{post.author.name}}
    </div>
  </div>

  <div class="ml-auto d-flex align-items-center text-secondary" style="width: 125px;">
    <div class="w-50">
      <i class="fa fa-eye"></i> <span class="ml-2 mr-3"> {{post.views}} </span>
    </div>
    <div class="w-50">
      <i class="fa fa-heart"></i> <span class="ml-2"> {{post.likes}} </span>
    </div>
  </div>
</div>
