@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

:host {
  display: block;
  background: #192538;
  padding: 50px 0;
  font-family: 'Nanum Square', 'NanumSquare', sans-serif !important;
}

/deep/ app-intro-navbar nav {
  background: white !important;
  ul li.nav-item a {
    color: black !important;
  }
}

.container {
  position: relative;
}

h3, p {
  text-align: center;
}

h3 {
  color: white;
}

p {
  color: #8196b2;
}

@media(max-width: 738px) {
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

p.small {
  color: #8196b2 !important;
}
