<div class="thumbnail-img">
  <div class="img-hover-cover"></div>
  <div class="post-likes">
    <i class="fal fa-thumbs-up" aria-hidden="true"></i>
    {{post.likes}}
  </div>
  <img [src]="post.video_thumb?.replace('default', 'mqdefault')" alt="{{post.title}}">
</div>

<div class="video-info">
  <span>{{post.title}}</span>
  <span class="text-muted">
        {{post.author.name}}
    </span>
  <span class="text-muted">조회수 {{post.views}} · {{post.customTime}}</span>
</div>

<ul class="iconlist" [class.visited]="false">
  <li><i class='fal fa-eye'></i> {{post.views}}</li>
  <li><i class='fal fa-comments'></i> <span>{{post.comments}}</span></li>
  <li><i class='fal fa-thumbs-up'></i> {{post.likes}}</li>
</ul>

<!--
<div class="popular-label" *ngIf='post.updateTime && post.updateTime != post.time && post.isPopular'>
  <i class="fal fa-chart-line" aria-hidden="true"></i>
</div>
-->
