<div class="countdown-number" [class.animate]="animate" (click)="doAnimate()">
  <div class="before">
    <div class="up">
      <div class="animate-shadow"></div>
      <div class="inn">
        {{_previousNumber}}
      </div>
    </div>
    <div class="down">
      <div class="animate-shadow"></div>
      <div class="inn">
        {{_previousNumber}}
      </div>
    </div>
  </div>
  <div class="active">
    <div class="up">
      <div class="animate-shadow"></div>
      <div class="inn">
        {{num}}
      </div>
    </div>
    <div class="down">
      <div class="animate-shadow"></div>
      <div class="inn">
        {{num}}
      </div>
    </div>
  </div>
</div>
