
h2 {
  font-weight: 700;
}

.section {
  background-color: #192538;
  padding-top: 0 !important;
}

.intro-section-title {
  color: white;
}

.team-box {
  .team-img {
    float: left;
    img {
      border: 1px solid #d4d4d4;
      margin-right: 5px;
    }
  }

  .team-desc {
    padding-left: 115px;
    .team-name {
      color: white;
      font-size: 14px;
    }
    .team-position {
      color: #8196b2;
      font-size: 12px;
      margin-bottom: 0;
    }

    a {
      color: white;
      margin-right: 4px;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.team-lead-box {
  margin-top: 60px;
  background-color: white;
  position: relative;
  // height: 180px;
  border-radius: 10px;

  .team-img {
    position: absolute;
    top: -45px;
    left: 12px;
    width: 95px;
    height: 95px;
    margin: 0 0 0 auto;

    img {
      border: 1px solid #d4d4d4;
      margin-right: 5px;
      box-shadow: 0 3px 15px 0 #e6e6e6;
    }
  }

  .team-desc {
    margin-top: 40px;
    .team-name {
      color: #343c4d;
      font-size: 14px;
    }
    .team-position {
      color: #5a6d86;
      font-size: 12px;
      margin-bottom: 0;
    }

    a {
      color: #343c4d;
      margin-right: 4px;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .team-sentences {
    padding-left: 18px;
    font-size: 14px;
    color: #8196b2;
    margin: 0;
  }
}

@media(max-width: 738px) {
  .section {
    padding-bottom: 50px;
  }

  .team-box {
    text-align: center;

    .team-img {
      float: none;
    }

    .team-desc {
      padding-left: 0;
    }

    .team-position, .team-desc, .team-name, a {
      text-align: center;
    }

    a.fab {
      display: block;
      margin-top: 5px;
    }
  }
}
