
h2 {
  font-weight: 700;
}

.section {
  background: #f8fafb;
}

.testimonial-client-img {
  img {
    width: 130px;
    height: 130px;
  }

  @media(max-width: 768px) {
    img {
      width: 100px;
      height: 100px;
      margin-top: 15px;
    }
  }
  margin: 0 0 0 auto;
}

ul {
  padding-left: 0;
}

h6 {
  color: #192538;
}

.position {
  color: #5a6d86;
  font-size: 13px;
  line-height: 20px;
}
