<section class="post-write bg-white h-100">
  <form class="form h-100">
    <div class="row h-100 mx-0">
      <div class="col-8 px-0 write-form">
        <div class="title">
          <input type="text" class="w-100" placeholder="제목을 입력해주세요">
        </div>

        <div class="description">
          <div [froalaEditor]="options" [(froalaModel)]="post.description"></div>
        </div>
      </div>
      <div class="col px-0 border-left">
        <section class="extra-section">
          <h5> 유투브 영상 주소 </h5>
          <div class="youtube-form">
            <input type="text" class="form-control"
                   placeholder="https://www.youtube.com/watch?v=..."
                   ngModel (ngModelChange)="onChangeYoutubeURL($event)"
                   [ngModelOptions]="{standalone: true}">
            <div class="youtube-thumbnail" *ngIf="currentYoutubeVideoId">
              <img [src]="'https://img.youtube.com/vi/' + currentYoutubeVideoId + '/mqdefault.jpg'">
            </div>
          </div>

          <h5> 첨부파일 관리 </h5>

          <div class="attach-file-form">
            <i class="fa fa-exclamation-triangle"></i> 현재는 지원하지 않습니다
          </div>

          <h5> 태그 </h5>

          <div class="tags-container">
            <div class="tags">
              <label class="label tag" *ngFor="let tag of tags; let i = index">
                {{tag.name}}
                <i class="fa fa-times" (click)="removeTag(i)"></i>
              </label>
            </div>

            <input type="text" class="form-control" (keypress)="handleTagInput($event, tagInput)" #tagInput
                   placeholder="추가할 태그 입력">
          </div>
        </section>
      </div>
    </div>

    <div class="submit-floating">
      <button mat-raised-button color="accent"> <i class="fa fa-pencil"></i> 작성 </button>
    </div>
  </form>
</section>
