:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.table {
  width: 480px;

  a {
    color: blue;

    &:hover {
      color: darkblue;
    }
  }
}
