<div class="container pt-3 px-0">
  <div class="row">
    <div class="col-3">
      <div class="bg-white bg-white tag-section border p-3">
        <div class="tags-all font-weight-bold mb-2"> Topic </div>
        <ul class="tags">
          <li *ngFor="let tag of tags">
            <a> {{tag.name}} </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="bg-white border">
        <table class="table">
          <thead>
          <tr>
            <th> Title </th>
            <th width="140"> Author </th>
            <th width="130"> Views </th>
            <th width="130"> Likes </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let post of posts">
            <td> <a [routerLink]="[post.post_id]"> {{post.title}} </a> </td>
            <td> {{post.author.name}} </td>
            <td> {{post.views}} </td>
            <td> {{post.likes}} </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
