
<mat-card>
  <mat-card-content>
    <mat-card-header>
      <div mat-card-avatar [style.background-image]="'url(' + sheet.artist.profileImage + ')'"></div>
      <mat-card-title class="font-weight-bold"> {{sheet.artist.name}} </mat-card-title>
      <mat-card-subtitle> {{sheet.artist.area}} </mat-card-subtitle>
    </mat-card-header>

    <div class="sheet-title mt-3 font-weight-bold">
      {{sheet.title}}
    </div>

    <div class="extra mt-2 text-right text-secondary">
      <span class="ml-auto">
        <i class="fa fa-eye"></i> {{sheet.views}}
      </span>
      <span>
        <i class="fa fa-heart"></i> {{sheet.likes}}
      </span>
    </div>
  </mat-card-content>
</mat-card>
