.post-header {
  padding: 10px;
  background: #f6f7f8;
  border-bottom: 1px solid #ddd;
  line-height: 22px;

  &-extra {
    & > *:after {
      content: ' · ';
      display: inline-block;
    }
    & > *:last-child:after {
      content: '';
    }
  }

  & > img {
    width: 42px;
    height: 42px;
    float: left;
    margin-right: 10px;
  }

  &:after {
    content: ' ';
    display: block;
    clear: both;
  }

  [app-level-icon] {
    margin: 0 3px 0 8px;
  }

  .post-header-following {
    & > i {
      display: block;
      margin: 0 auto;
      height: 22px;
    }
  }

}
