<nav class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky">
  <div class="container">
    <a class="navbar-brand" routerLink="/" (click)="moveToTop()">
      <brand-icon-muzika></brand-icon-muzika>
      <span>Muzika</span>
    </a>

    <div class="mobile-only" dropdown>
      <div class="dropdown-toggle" dropdownToggle id="dropdownMenuMobileButton" aria-haspopup="true" aria-expanded="false">
        <i class="icon-lang" [ngClass]="lang"></i>
      </div>
      <div class="dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenuMobileButton">
        <a class="dropdown-item" [class.active]="lang === 'en'" (click)="changeLang('en')">
          <span class="icon-lang en"></span>
        </a>
        <a class="dropdown-item" [class.active]="lang === 'zh'" (click)="changeLang('zh')">
          <span class="icon-lang zh"></span>
        </a>
        <a class="dropdown-item" [class.active]="lang === 'ko'" (click)="changeLang('ko')">
          <span class="icon-lang ko"></span>
        </a>
      </div>
    </div>

    <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"
       aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fal fa-bars"></span>
    </a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mt-sm-0 mt-3 ml-auto">

        <ng-container *ngIf="lang === 'en'">
          <li class="nav-item">
            <a class="nav-link" href="https://bitcointalk.org/index.php?topic=5042121.msg46417949#msg46417949"
               target="_blank">{{'intro-navbar.bounty' | translate}}</a>
          </li>
        </ng-container>

        <li class="nav-item">
          <a class="nav-link" href="#the-challenge">{{'intro-navbar.business' | translate}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#ecosystem">{{'intro-navbar.ecosystem' | translate}}</a>
        </li>

        <!--
        <li class="nav-item active">
          <a class="nav-link" href="#token-metrics">{{'intro-navbar.token-metrics' | translate}}</a>
        </li>
        -->

        <!--
        <li class="nav-item">
          <a class="nav-link" href="#mzk-coins">{{'intro-navbar.mzk-coins' | translate}}</a>
        </li>
        -->

        <li class="nav-item">
          <a class="nav-link" href="#leadership-team">{{'intro-navbar.team' | translate}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#advisors">{{'intro-navbar.advisors' | translate}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#investor">{{'intro-navbar.partners' | translate}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#roadmap">{{'intro-navbar.roadmap' | translate}}</a>
        </li>


        <!--
        <li class="nav-item">
          <a class="nav-link" routerLink="/beta">{{'intro-navbar.services' | translate}}</a>
        </li>
        -->

        <li class="nav-item">
          <a class="nav-link" href="#press">{{'intro-navbar.press' | translate}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/faq" target="_blank">{{'intro-navbar.faq' | translate}}</a>
        </li>

        <li class="nav-item" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle id="dropdownMenuButton" aria-haspopup="true"
             aria-expanded="false">
            <i class="icon-lang" [ngClass]="lang"></i>
            <ng-container *ngIf="lang === 'en'">
              ENG
            </ng-container>
            <ng-container *ngIf="lang === 'zh'">
              中文
            </ng-container>
            <ng-container *ngIf="lang === 'ko'">
              한국어
            </ng-container>
          </a>
          <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [class.active]="lang === 'en'" (click)="changeLang('en')">English</a>
            <a class="dropdown-item" [class.active]="lang === 'zh'" (click)="changeLang('zh')">中文</a>
            <a class="dropdown-item" [class.active]="lang === 'ko'" (click)="changeLang('ko')">한국어</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
