@import '../../../../theme/variables';

:host {
  display: block;
  background-color: #f8fafb;
  color: white;
  border-top: 1px solid #edeff2;
}

footer {
  max-width: 1180px;
  margin: 0 auto;

  /*********************
      14.Footer
  **********************/

  .footer-alt p {
    color: #192538;
    font-family: 'Libre Baskerville';
    font-size: 26px;
    font-weight: 500;
  }

  .company {
    height: 70px;
    font-size: 0.625rem;
    margin: 0 auto;
  }


  .footer-alt {
    border-bottom: 1px solid #192538;
    margin: 0 auto;

  }

  .submenu {
    margin: 0 auto;
    // max-width: 800px;

    h5 {
      font-size: 17px;
      color: #192538;
    }

    ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;

      > a {
        font-size: 16px;
        color: #5a6d86;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }

}

brand-icon-muzika {
  display: inline;
  height: 30px;

  /deep/ .muzika-icon-striped-primary {
    fill: #192538;
  }

  /deep/ .muzika-icon-striped-secondary {
    fill: #192538;
  }
}

.copyright-text {
  color: #5a6d86;
  font-size: 14px;
}
