<footer>
  <div class="container">
    <div class="footer-alt text-center pt-5 pb-4">
      <brand-icon-muzika></brand-icon-muzika>
      <p class="mb-0 mt-2">Muzika</p>
    </div>
    <div class="row submenu pt-5 pl-sm-5">
      <div class="col pl-sm-4">
        <h5 class="mb-3">Muzika</h5>
        <ul class="mb-4 text-center">
          <!--<li class="mb-2"><a href="#home">{{'intro-footer.whitepapers' | translate}}</a></li>-->
          <li class="mb-2"><a href="#the-challenge">{{'intro-footer.business' | translate}}</a></li>
          <li class="mb-2"><a href="#ecosystem">{{'intro-footer.ecosystem' | translate}}</a></li>
          <li class="mb-2"><a href="#leadershop-team">{{'intro-footer.teams' | translate}}</a></li>
          <li class="mb-2"><a href="#advisors">{{'intro-footer.advisors' | translate}}</a></li>
          <li class="mb-2"><a href="#roadmap">{{'intro-footer.roadmap' | translate}}</a></li>
          <li class="mb-2"><a routerLink="/beta">{{'intro-footer.services' | translate}}</a></li>
        </ul>
      </div>
      <div class="col pl-sm-4">
        <h5 class="mb-3">{{'intro-footer.community' | translate}}</h5>
        <ul class="mb-4 text-center">
          <li class="mb-2"><a href="https://medium.com/muzika-official" target="_blank"><i class="fab fa-medium"></i> {{'intro-footer.medium' | translate}}</a></li>
          <li class="mb-2"><a href="https://twitter.com/muzika_official" target="_blank"><i class="fab fa-twitter"></i> {{'intro-footer.twitter' | translate}}</a></li>
          <li class="mb-2"><a href="https://t.me/muzika_english"><i class="fab fa-telegram"></i> {{'intro-footer.telegram-en' | translate}}</a></li>
          <li class="mb-2"><a href="https://t.me/muzika_chinese"><i class="fab fa-telegram"></i> {{'intro-footer.telegram-zh' | translate}}</a></li>
          <li class="mb-2"><a href="https://t.me/muzika_korean"><i class="fab fa-telegram"></i> {{'intro-footer.telegram-kr' | translate}}</a></li>
          <li class="mb-2"><a href="https://github.com/MuzikaFoundation" target="_blank"><i class="fab fa-github"></i> Github</a></li>
        </ul>
      </div>
      <div class="col">
        <h5 class="mb-3">{{'intro-footer.project' | translate}}</h5>
        <ul class="mb-4 text-center">

          <li class="mb-2">
            <a href="assets/mzk-whitepaper-en.pdf">{{'intro-footer.whitepaper' | translate}}</a>
          </li>

          <ng-container *ngIf="lang == 'en'">
            <li class="mb-2">
              <a href="assets/mzk-teaser-en.pdf">{{'intro-footer.project-teaser' | translate}}</a>
            </li>
          </ng-container>
          <ng-container *ngIf="lang == 'ko'">
            <li class="mb-2">
              <a href="assets/mzk-teaser-kr.pdf">{{'intro-footer.project-teaser' | translate}}</a>
            </li>
          </ng-container>
          <ng-container *ngIf="lang == 'zh'">
            <li class="mb-2">
              <a href="assets/mzk-teaser-ch.pdf">{{'intro-footer.project-teaser' | translate}}</a>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="col">
        <h5 class="mb-3">{{'intro-footer.websites' | translate}}</h5>
        <ul class="mb-4 text-center">
          <li class="mb-2"><a href="#" (click)="$event.preventDefault();changeLang('en')">English</a></li>
          <li class="mb-2"><a href="#" (click)="$event.preventDefault();changeLang('ko')">한국어</a></li>
          <li class="mb-2"><a href="#" (click)="$event.preventDefault();changeLang('zh')">中文</a></li>
        </ul>
      </div>
    </div>
    <div class="mb-5 mt-4 small text-center copyright-text">
      © 2018 MUZIKA. All Rights Reserved <BR />
      <a href="mainto:official@muzika.network">official@muzika.network</a>
    </div>
  </div>
</footer>
