@import '../../theme/variables';

:host {
  background-color: $navbar-background;
  display: block;
}

nav:after {
  bottom: -5px;
  box-shadow: inset 0 4px 8px -3px rgba(17, 17, 17, .06);
  content: "";
  height: 5px;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 2050;
}

.wallet {
  text-transform: lowercase;
  color: black;
}

.btn-login {
  display: block;
  color: black;
}

.user-profile-img {
  img {
    height: 2.8rem;
    border-radius: 50%;
  }
}

//.search {
//  position: relative;
//
//  .search-wrapper {
//    background: #fff;
//    border-radius: 4px;
//    width: 360px;
//    color: #404040;
//
//    .search-icon {
//      float: left;
//      padding: 0 16px;
//
//      i {
//        padding: 0;
//        margin: 0;
//      }
//    }
//
//    .search-input {
//      overflow: hidden;
//
//      input {
//        background: transparent;
//        border: none;
//        outline: none;
//        height: 100%;
//      }
//    }
//  }
//}

.user-name {
  color: black;
}

.wallet {
  color: #a8a8a8;
}
