<footer>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 logocol">
      <brand-icon-muzika></brand-icon-muzika>
      &nbsp;
      <span class="brand-name">Muzika Foundation</span>
      <br><br>


    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <div class="wrap">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <div class="wrap">
        <ul>
          <!-- Fill this section to service link -->
        </ul>
      </div>

    </div>
    <div class="clearfix"></div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <div class="wrap">
        <ul>
          <!-- Fill this section to service link -->
        </ul>
      </div>

    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <div class="wrap footer-social-networks">
        <div class="widget networks text-center ui-social-icons">
          <ul>
            <li>
              <a href="https://www.github.com/MuzikaFoundation" target="_blank">
                <span>
                  <i class="fab fa-github"></i> Github
                </span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
