<h4>Your Address</h4>
<h5>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 79.536 79.536">
    <path fill="#5dba5a"
          d="M39.769 0C17.8 0 0 17.8 0 39.768c0 21.965 17.8 39.768 39.769 39.768 21.965 0 39.768-17.803 39.768-39.768C79.536 17.8 61.733 0 39.769 0zm-5.627 58.513L15.397 39.768l7.498-7.498 11.247 11.247 22.497-22.493 7.498 7.498-29.995 29.991z"></path>
  </svg>
  This is a recommended way to view your balance.
</h5>
<p>
  You can only view your balance via this option.
  Please use another option in order to send.
</p>
<div class="form-group">
            <textarea rows="4" class="form-control"
                      ng-change="onAddressChange()"
                      ng-class="Validator.isValidAddress($parent.$parent.addressOnly) ? 'is-valid' : 'is-invalid'"
                      ng-model="$parent.$parent.addressOnly" placeholder="Your Address"></textarea>
</div>
<div class="form-group">
  <a class="btn btn-primary ng-hide" ng-click="decryptAddressOnly()" ng-show="showAOnly" role="button"
     tabindex="0">
    View Balance
  </a>
</div>
