<intro-floating-btns></intro-floating-btns>

<!-- Home start -->
<section class="section bg-home-full bg-home" id="ecosystem-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pb-4 home-content">
        <h1 class="home-title mx-auto mt-sm-4">Ecosystem</h1>
        <p class="home-subtitle mx-auto mt-3 mb-3 mb-sm-5">
          {{'intro-ecosystem.subtitle-1' | translate}}
        </p>
      </div>
    </div>
  </div>

</section>

<mzk-intro-mzk-coins></mzk-intro-mzk-coins>
