<app-navbar></app-navbar>

<div class="background">
  <h1>
    Muzika
  </h1>

  <div class="method">
    <div class="container">
      <div class="method-wrapper">
        <div class="row">
          <div class="provider col">
            <button type="button" class="btn btn-outline-light" (click)="usingMetamask()">
              Metamask
            </button>
          </div>
          <div class="provider col">
            <button type="button" class="btn btn-outline-light" (click)="usingGanache()">
              Ledger
            </button>
          </div>
          <div class="provider col">
            <button type="button" class="btn btn-outline-light" (click)="usingGanache()">
              Trezor
            </button>
          </div>
          <div class="provider col">
            <button type="button" class="btn btn-outline-light" (click)="walletModal.show()">
              Keystore
            </button>
          </div>
          <div class="provider col">
            <button type="button" class="btn btn-outline-light" (click)="walletModal.show()">
              Private Key
            </button>
          </div>
      </div>
      </div>
    </div>
  </div>

  <div class="other-method">
    또는 지갑주소 직접 입력
  </div>
</div>

<div class="modal fade" bsModal #walletModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Private Key</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="walletModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="usingWallet(form)">
          <div class="form-group">
            <input class="form-control" type="password" id="privKey" name="privKey" ngModel>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-danger">가져오기</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
