<intro-floating-btns></intro-floating-btns>

<!-- Home start -->
<section class="section bg-home-full bg-home" id="home">

  <div class="home-center">
    <div class="home-desc-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 pb-4 home-content">
            <h1 class="home-title mx-auto mt-sm-4">Muzika</h1>
            <p class="home-subtitle mx-auto mt-3 mb-3 mb-sm-5">
              {{'intro-main.home-subtitle-1' | translate}} <BR/>
              {{'intro-main.home-subtitle-2' | translate}}
            </p>
            <div class="home-btn">
              <a class="mr-2 mr-sm-3">{{'intro-main.project-teaser' | translate}}</a>
              <a href="assets/mzk-teaser-en.pdf" target="_blank" class="btn btn-custom mr-3">English</a>
              <a href="assets/mzk-teaser-kr.pdf" target="_blank" class="btn btn-custom mr-3">한국어</a>
              <a href="assets/mzk-teaser-ch.pdf" target="_blank" class="btn btn-custom">中國語</a>
            </div>
            <div class="home-btn mt-3">
              <a class="mr-2 mr-sm-3">{{'intro-main.whitepaper' | translate}}</a>
              <a href="assets/mzk-whitepaper-en.pdf" target="_blank" class="btn btn-custom mr-1 mr-sm-3">English</a>
            </div>

            <div class="home-btn mt-4 mt-sm-5" id="muzika-studio-program">
              <h5>
                Muzika Studio
                <small>v0.0.9 (2018.07.23)</small>
              </h5>
              <div class="mr-3 mr-sm-3 mb-3">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-apple fa-stack-1x fa-inverse"></i>
                </span>
                <span class="title"> Mac </span>
                <a [attr.href]="macDownloadURL"
                   target="_blank" class="download">Download</a>
              </div>
              <div class="mr-3 mr-sm-3 mb-3">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-windows fa-stack-1x fa-inverse"></i>
                </span>
                <span class="title"> Windows </span>
                <a [attr.href]="winDownloadURL"
                   target="_blank" class="download">Download</a>
              </div>
              <div class="mr-3 mr-sm-3 mb-3">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linux fa-stack-1x fa-inverse"></i>
                </span>
                <span class="title"> Linux </span>
                <a [attr.href]="linuxDownloadURL"
                   target="_blank" class="download">Download</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 p-sm-5">
            <div class="videoWrapper">
              <!-- Copy & Pasted from YouTube -->
              <img src="assets/intro-img/video-thumbnail.jpg" width="530" height="315">
              <!--<iframe width="530" height="315" src="//www.youtube.com/embed/Df2JgpM9zQA?rel=0&hd=1" frameborder="0"-->
              <!--allowfullscreen></iframe>-->
            </div>

            <div class="airdrop-btn mt-3 text-right">
              <a routerLink="/airdrop-event" class="btn btn-custom">
                {{'intro-main.airdrop-btn-text' | translate}}
                <span class="next-arrows">
                  <i class="fa fa-angle-right"></i>
                  <i class="fa fa-angle-right"></i>
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
<!-- home end -->
<mzk-intro-press></mzk-intro-press>

<mzk-intro-ecosystem></mzk-intro-ecosystem>

<mzk-intro-mzk-coins></mzk-intro-mzk-coins>

<mzk-intro-business></mzk-intro-business>

<intro-leadership-team></intro-leadership-team>

<intro-team></intro-team>

<mzk-intro-investors></mzk-intro-investors>
<mzk-intro-partners></mzk-intro-partners>

<intro-advisors></intro-advisors>

<intro-roadmap></intro-roadmap>
