@import 'helper';

.bg-home-full {
  min-height: 600px;
}

.bg-home {
  padding-top: 80px;
  padding-bottom: 0;
  position: relative;
  background: url('../../../../assets/intro-img/design/wave-0.png') no-repeat #192538;
  background-size: 100%;
}

.container {
  min-height: 600px;
  padding-top: 80px;

  .row {
    .home-content {


      .home-title {
        font-size: $px2rem_60;
        font-weight: 600;
        color: white;
        @media (max-width: 768px) {
          font-size: 40px;
        }
      }

      .home-subtitle {
        font-size: 18px;
        color: #8196b2;

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }

      .home-btn {
        font-size: 16px;

        > a:first-child {
          display: inline-block;
          color: white;
          min-width: 115px;
        }

        .btn-custom { // English, 한국어, 중국어 버튼
          background: linear-gradient(to right, #2f9db4, #76dbc7);
          border: none;
          color: white;
          padding: 0 -1px;
          font-size: 16px;
          min-width: 120px;
          border-radius: 20px 20px;

          &:hover {
            box-shadow: 0 3px 8px 0 #2f9db4;
          }
        }
      }

      @media (max-width: 768px) {
        .home-btn {
          font-size: 14px;
          > a:first-child {
            display: block;
            margin-bottom: 10px;

            div.small {
              display: inline-block;
            }
          }

          .btn-custom {
            font-size: 13px !important;
            min-width: 80px;
            padding: 7px 10px;
          }
        }
      }


    }
  }
}

.home-center {
  background: url('../../../../assets/intro-img/design/wave-1.png') no-repeat;
  background-size: 100%;
  background-position-y: bottom;
  padding-bottom: 160px;
}

.home-desc-center {
  background: url('../../../../assets/intro-img/design/line-art-0.png') no-repeat;
  background-position-x: 80%;
  background-position-y: 10%;
  background-size: 800px;
}

@media(max-width: 738px) {
  .home-desc-center {
    background: none;
  }
}

/deep/ canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper img {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px;
}

.airdrop-btn {
  font-size: 16px;

  > a:first-child {
    display: inline-block;
    color: white;
    min-width: 115px;
  }

  .btn-custom { // English, 한국어, 중국어 버튼
    background: linear-gradient(to right, #f15a24, #f7931e);
    border: none;
    color: white;
    padding: 0 -1px;
    font-size: 16px;
    min-width: 120px;
    border-radius: 20px 20px;

    .next-arrows {
      margin-left: 6px;

      i.fa {
        font-weight: normal;

        &:first-child {
          animation: airdrop-arrow-animation 3s .3s infinite ease-out;
        }

        &:nth-child(2) {
          animation: airdrop-arrow-animation 3s .15s infinite ease-out;
        }

        &:nth-child(3) {
          animation: airdrop-arrow-animation 3s infinite ease-out;
        }
      }
    }

    &:hover {
      .next-arrows {
        i.fa {

          &:first-child {
            animation: airdrop-arrow-animation-hover 1.5s .3s infinite ease-out;
          }

          &:nth-child(2) {
            animation: airdrop-arrow-animation-hover 1.5s .15s infinite ease-out;
          }

          &:nth-child(3) {
            animation: airdrop-arrow-animation-hover 1.5s infinite ease-out;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    & {
      font-size: 14px;
      > a:first-child {
        display: block;
        margin-bottom: 10px;

        div.small {
          display: inline-block;
        }
      }

      .btn-custom {
        font-size: 13px !important;
        min-width: 80px;
        padding: 7px 10px;
      }
    }
  }

  @keyframes airdrop-arrow-animation {
    0% {
      color: rgba(255, 255, 255, 1);
      transform: translateX(0);
    }
    10% {
      color: rgba(255, 255, 255, 0);
      transform: translateX(9px);
    }
    30% {
      color: rgba(255, 255, 255, 0);
      transform: translateX(-9px);
    }
    40% {
      color: rgba(255, 255, 255, 1);
      transform: translateX(0);
    }
  }

  @keyframes airdrop-arrow-animation-hover {
    0% {
      color: rgba(255, 255, 255, 1);
      transform: translateX(0);
    }
    20% {
      color: rgba(255, 255, 255, 0);
      transform: translateX(9px);
    }
    50% {
      color: rgba(255, 255, 255, 0);
      transform: translateX(-9px);
    }
    70% {
      color: rgba(255, 255, 255, 1);
      transform: translateX(0);
    }
  }
}

.btn {
  padding: 8px 16px;
  font-size: 12px;
}

@media (min-width: 200px) and (max-width: 768px) {
  .bg-home-full {
    min-height: 600px;
  }

  .container {
    padding-top: 0;
  }

  .home-center {
    padding-bottom: 80px;
  }
}


/**
 * Icon for Program
 **/

#muzika-studio-program {
  h5 {
    color: white;
    margin-bottom: 16px;
  }

  > div {
    display: inline-block;
    color: white;
    font-weight: 300;
    min-width: 30%;

    &:hover {
      text-decoration: none;
    }

    .fa-stack {
      float: left;
      margin-right: 8px;
    }

    .download {
      display: block;
      color: white;
      font-weight: 400;
      padding: 2px 4px 1px 4px;
      width: 70px;
      text-align: center;
      margin-left: 55px;
      border-radius: 10px 10px;
      font-size: 12px;
      border: 1px solid white;

      &:hover {
        color: #192538;
        text-decoration: none;
        background: white;
      }
    }
  }
}

.fa-circle {
  color: white;
}

.fa-inverse {
  color: #192538;
}

.fa-2x {
  font-size: 24px;
}
