@import '../../../../theme/variables';

:host {
  display: block;
  background-color: #1a1a1a;
  background: #242424 !important;
}

footer {
  max-width: 1180px;
  margin: 0 auto;

  /*********************
      14.Footer
  **********************/

  .footer-alt p{
    color: #858585;
  }

  .footer-content .footerlink  li a{
    color: #858585;
    margin: 0 8px;
    transition: all 0.5s;
    font-size: 15px;
  }

  .footer-content .footerlink  li a:hover{
    color: #b7b7b7;
  }

  .company {
    height: 70px;
    font-size: 0.625rem;
    margin: 0 auto;
  }
}

.social-icon > li a {
  background-color: rgba(103, 120, 125, 0.15);
  border-radius: 35px;
  color: #adb1b5;
  display: inline-block;
  height: 35px;
  line-height: 36px;
  text-align: center;
  width: 35px;
  margin-left: 12px;
  transition: all 0.5s;
}

.social-icon > li a:hover {
  color: #fff !important;
}
