@import '../../../../theme/variables';

:host {
  display: block;
  background-color: white;
  border-top: 1px solid #edeff2;
}

footer {
  max-width: 1180px;
  margin: 0 auto;

  /*********************
      14.Footer
  **********************/

  .footer-alt p{
    color: black;
  }

  .footer-content .footerlink  li a{
    color: #858585;
    margin: 0 8px;
    transition: all 0.5s;
    font-size: 15px;
  }

  .footer-content .footerlink  li a:hover{
    color: #b7b7b7;
  }

  .company {
    height: 70px;
    font-size: 0.625rem;
    margin: 0 auto;
  }
}

.social-icon {
  border-top: 1px solid #edeff2;
  max-width: 380px;
  margin: 0 auto;
}

.social-icon > li a {
  color: black;
  display: inline-block;
  height: 35px;
  line-height: 36px;
  text-align: center;
  padding-top: 15px;
  width: 35px;
  margin-left: 12px;
  transition: all 0.5s;
}

.social-icon > li a:hover {
  color: #fff !important;
}


brand-icon-muzika {
  display: inline;
  height: 30px;

  /deep/ .muzika-icon-striped-primary {
    fill: black;
  }

  /deep/ .muzika-icon-striped-secondary {
    fill: black;
  }
}
