@import '../../theme/variables';

:host {
  background-color: $navbar-background;
  display: block;
}

.wallet {
  text-transform: lowercase;
  color: map-get($secondary-palette, 500);
}

.btn-login {
  display: block;
  color: white;
}

.user-profile-img {
  img {
    height: 2.8rem;
    border-radius: 50%;
  }
}

//.search {
//  position: relative;
//
//  .search-wrapper {
//    background: #fff;
//    border-radius: 4px;
//    width: 360px;
//    color: #404040;
//
//    .search-icon {
//      float: left;
//      padding: 0 16px;
//
//      i {
//        padding: 0;
//        margin: 0;
//      }
//    }
//
//    .search-input {
//      overflow: hidden;
//
//      input {
//        background: transparent;
//        border: none;
//        outline: none;
//        height: 100%;
//      }
//    }
//  }
//}

.user-name {
  color: #fff;
}

.wallet {
  color: #a8a8a8;
}
