
h2 {
  font-weight: 700;
}

section {
  border-top: 1px solid #d4d4d4;
}

.testimonial-client-img {
  width: 130px;
  height: 130px;
  margin: 0 0 0 auto;
}

ul {
  padding-left: 0;

  li {
    word-break: break-all;
  }
}
