
h2 {
  font-weight: 700;
}

section {
  border-top: 1px solid #E9E9E9;
}

.testimonial-client-img {
  width: 130px;
  height: 130px;
  margin: 0 0 0 auto;
}

ul {
  padding-left: 0;

  li {
    word-break: break-all;
  }
}

.position {
  font-size: 13px;
  line-height: 20px;
}
