
h2 {
  font-weight: 700;
}

.section {
  background: #f8fafb;
}

.testimonial-client-img {
  width: 130px;
  height: 130px;
  margin: 0 0 0 auto;
}

ul {
  padding-left: 0;

  li {
    word-break: break-all;
  }
}

h6 {
  color: #192538;
}

.position {
  color: #5a6d86;
  font-size: 13px;
  line-height: 20px;
}
