@import '../../../../theme/variables';

.tags-all {
  font-size: 1.4rem;
}

ul.tags {
  padding-left: 0;
  list-style: none;

  li {
    padding: 4px 4px 4px 0;

    a {
      font-size: 1.2rem;
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: #5bc0de;
      }
    }
  }
}

.write-overlay {
  position: fixed;
  bottom: 32px;
  right: 32px;
}
