@import '../../../../theme/variables';

.tag-section {
  width: 180px;
  margin-left: 15px;
  background: #2d343a;
  color: #fff;
  padding: 20px;

  .tags-all {
    font-size: 18px;
  }

  ul.tags {
    padding-left: 0;
    list-style: none;

    li {
      padding: 4px 4px 4px 0;

      a {
        font-size: 16px;
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: #1ab394;
        }
      }
    }
  }
}

.write-overlay {
  position: fixed;
  bottom: 32px;
  right: 32px;
}

.post-list-section {
  height: 100%;

  .row {
    height: inherit;
  }

  .scroll-post-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
