.testimonial-client-img {
  width: 130px;
  height: 130px;
  margin: 0 0 0 auto;
}

h2 {
  font-weight: 700;
}

ul {
  padding-left: 0;

  li {
    word-break: break-all;

    &:first-child {
      font-weight:bold;
    }
  }
}
