:host {
  color: #192538;
}

.testimonial-client-img {
  width: 130px;
  height: 130px;
  margin: 0 0 0 auto;
}

ul {
  padding-left: 0;
  color: #333030;

  li {
    font-size: 14px;
  }
}

.position {
  color: #5a6d86;
  font-size: 13px;
  line-height: 20px;
}

.awards {
  color: #4d5256;
}
