<!-- LEADERSHIP TEAM Start -->
<section class="section" id="leadership-team">
  <div class="container">
    <div class="section-title text-center mx-auto">
      <div class="section-title-icon">
        <i class="pe-7s-micro text-custom"></i>
      </div>
      <h2 class="intro-section-title"> TEAM LEADERSHIP </h2>
      <p class="mt-4 intro-section-subtitle">
        Co-founders are one of the youngest and most successful entrepreneurs in South Korea startup history, averagely aged at 22. <BR />
        All of them were awarded Forbes 30 Under 30 Asia 2018.
      </p>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4" *ngFor="let leader of leaders">
        <div class="pt-4 pb-4 pr-3 pl-3">
          <div class="row">
            <div class="col-xs-6 text-right">
              <div class="testimonial-client-img text-center pt-3 mb-3">
                <img [src]="leader.imagePath" class="img-fluid  rounded-circle img-thumbnail">
              </div>
            </div>
            <div class="col-xs-6 pt-5 pl-3">
              <h6 class="mb-0">
                {{leader.name}}
              </h6>
              <small>
                {{leader.position}} <BR/>
                & Co-Founder
              </small>
            </div>
          </div>
          <ul class="pt-3">
            <li class="mt-2" *ngFor="let sentence of leader.sentences; let i =index;">
              {{sentence}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="awards">
      Awards
      <a href="https://www.forbes.com/30-under-30-asia/2018/#33f954aa5aeb" target="_blank">
        <img src="assets/images/forbes.png" class="ml-3" height="60">
      </a>
    </p>
  </div>
</section>
<!-- LEADERSHIP TEAM end  -->
