<!-- LEADERSHIP TEAM Start -->
<section class="section" id="leadership-team">
  <div class="container">
    <div class="section-title text-center mx-auto">
      <div class="section-title-icon">
        <i class="pe-7s-micro text-custom"></i>
      </div>
      <h2 class="intro-section-title"> TEAM LEADERSHIP </h2>
      <p class="mt-4 intro-section-subtitle">
        {{'intro-leadership.subtitle-1' | translate}}<BR />
        {{'intro-leadership.subtitle-2' | translate}}
      </p>
    </div>
    <BR />
    <BR />
    <div class="row mt-5">
      <div class="col-lg-4 mt-3 mb-5" *ngFor="let leader of leaders">
        <div class="pt-2 pb-4 pr-3 pl-3 leader-box">
          <div class="row">
            <div class="col-xs-6 text-right">
              <div class="testimonial-client-img text-center pt-3 mb-3">
                <img [src]="leader.imagePath" class="img-fluid  rounded-circle img-thumbnail">
              </div>
            </div>
            <div class="col-xs-6 pt-5 pl-4">
              <h6 class="mb-0 leader-name">
                {{leader.name}}
                <a class="fab fa-github" *ngIf="leader.github" [attr.href]="leader.github" target="_blank"></a>
                <a class="fab fa-linkedin" *ngIf="leader.linkedin" [attr.href]="leader.linkedin" target="_blank"></a>
              </h6>
              <div class="position mt-1">
                {{leader.position}} & {{'intro-leadership.co-founders' | translate}}
              </div>
            </div>
          </div>
          <ul class="pt-2">
            <li class="mt-1" *ngFor="let sentence of leader.sentences; let i =index;">
              {{sentence}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <p class="awards pt-5">
      {{'intro-leadership.awards' | translate}}
      <a href="https://www.forbes.com/30-under-30-asia/2018/#33f954aa5aeb" target="_blank">
        <img src="assets/intro-img/forbes.png" class="ml-3" height="45">
      </a>
    </p>
  </div>
</section>
<!-- LEADERSHIP TEAM end  -->
