
.testimonial-client-img {
  width: 130px;
  height: 130px;
  margin: 0 0 0 auto;
}

ul {
  padding-left: 0;
  color: #4d5256;

  li {
    word-break: break-all;
    font-size: 14px;
  }
}


.awards {
  color: #4d5256;
}
