.video-toggler {
  a {
    color: #8e8e8e;
  }

  .active {
    background: white;
    border-color: rgb(245, 100, 0);
    color: rgb(245, 100, 0);
    font-weight: bold;
    box-shadow: none;
  }
}

.video-list {
  max-width: 1070px;
  margin: 0 auto;
  padding: 48px 0;

  [app-youtube-video-cell] {
    margin-right: 1%;
    display: inline-block;
    width: 18%;
    margin-bottom: 24px;
  }
}

