<h4>MetaMask / Mist</h4>
<h5>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 79.536 79.536">
    <path fill="#5dba5a"
          d="M39.769 0C17.8 0 0 17.8 0 39.768c0 21.965 17.8 39.768 39.769 39.768 21.965 0 39.768-17.803 39.768-39.768C79.536 17.8 61.733 0 39.769 0zm-5.627 58.513L15.397 39.768l7.498-7.498 11.247 11.247 22.497-22.493 7.498 7.498-29.995 29.991z"></path>
  </svg>
  This is a recommended way to access your wallet.
</h5>
<div class="form-group">
  MetaMask is a browser extension that allows you to access your wallet quickly, safely &amp; easily. It is more
  secure because you <u>never enter your private key on a website</u>. It protects you from phishing &amp;
  malicious websites.
</div>
<ul>
  <li class="u__protip">
    <a tabindex="0"
       href="https://myetherwallet.github.io/knowledge-base/migration/moving-from-private-key-to-metamask.html"
       target="_blank" rel="noopener noreferrer">
      How to Move to MetaMask
    </a>
  </li>
  <li class="u__download">
    <a tabindex="0"
       href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en"
       target="_blank" rel="noopener noreferrer">
      Download MetaMask for Chrome
    </a>
  </li>
  <li class="u__download">
    <a tabindex="0" href="https://metamask.io/" target="_blank" rel="noopener noreferrer">
      Download MetaMask for Other Browsers
    </a>
  </li>
</ul>
<div class="form-group">
  <a id="aria3" class="btn btn-primary" tabindex="0" role="button">Connect to MetaMask</a>
</div>
