files:
  /etc/nginx/conf.d/proxy.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        upstream ngx_server {
          server 127.0.0.1:18081;
          keepalive 100;
        }

        listen 8080;
        root   /var/app/current/;

        index index.html;
        gzip on;
        gzip_comp_level 7;
        gzip_types text/plain text/css application/javascript application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript image/jpeg image/png;

        if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
            set $year $1;
            set $month $2;
            set $day $3;
            set $hour $4;
        }
        access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
        access_log  /var/log/nginx/access.log  main;

        error_page 405 =200 $uri;

        location / {
            if ($request_method = POST) {
                rewrite .* /index.html break;
            }
            try_files $uri @prerender;
        }

        location @prerender {
            set $prerender 0;
            if ($http_user_agent ~* "Googlebot|YandexBot|bingbot|Sogou|Yahoo|Slurp|AdsBot|APIs-Google|Mediapartners|Yeti|blueno|baiduspider|Facebot|twitterbot|facebookexternalhit|rogerbot|linkedinbot|embedly|quora link preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator") {
                set $prerender 1;
            }
            if ($args ~ "_escaped_fragment_") {
                set $prerender 1;
            }
            if ($http_user_agent ~ "Prerender") {
                set $prerender 0;
            }
            if ($uri ~ "\.(js|css|xml|less|png|jpg|jpeg|gif|pdf|doc|txt|ico|rss|zip|mp3|rar|exe|wmv|doc|avi|ppt|mpg|mpeg|tif|wav|mov|psd|ai|xls|mp4|m4a|swf|dat|dmg|iso|flv|m4v|torrent|ttf|woff)") {
                set $prerender 0;
            }
            if ($http_user_agent ~* "MJ12bot") {
                set $prerender 0;
            }

            if ($prerender = 1) {
              proxy_http_version 1.1;
              proxy_set_header Connection "";
              proxy_pass  http://ngx_server;
            }

            if ($prerender = 0) {
              rewrite .* /index.html break;
            }
        }

      }



  /opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe

      rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
      service nginx stop
      service nginx start

container_commands:
 removeconfig:
    command: "rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"
