files:
  /etc/security/limits.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      *    soft    nofile  65535
      *    hard    nofile  65535
      *    soft    stack  20480
      *    hard    stack  20480

container_commands:
  01restart_docker:
    command: "ulimit -n 65536 && ulimit -s 20480"
