<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <div class="navbar-brand" routerLink="/">
      <brand-icon-muzika></brand-icon-muzika>
    </div>

    <div class="navbar-menu">
      <ul class="main-menu">
        <li routerLink="/board/sheet" routerLinkActive="active">
          About
        </li>
        <li routerLink="/board/sheet" routerLinkActive="active">
          Team &amp; Advisers
        </li>
        <li routerLink="/board/sheet" routerLinkActive="active">
          Road Map
        </li>
        <li routerLink="/beta" routerLinkActive="active">
          Beta
        </li>
      </ul>
    </div>
  </div>
</nav>
