/* You can add global styles to this file, and also import other style files */
@import 'theme/variables';

/* Customize Bootstrap */
$primary: $primary-color;
$secondary: $secondary-color;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px
);

$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

@import '~bootstrap/scss/bootstrap';

@import 'theme/material';

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWx8QCQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxY.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY5KcU.ttf) format('truetype');
}

html, body {
  background-color: $background-color;
}

.bg-primary {
  color: mat-contrast($primary-palette, 700);
}

.bg-secondary {
  color: mat-contrast($secondary-palette, 700);
}

.material-shadow {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

button:focus {
  outline: none;
}

/* Scrollbar design */
::-webkit-scrollbar {
  width: 6px;

  * {
    background: transparent;
  }
}

::-webkit-scrollbar * {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.alertify {
  z-index: 3;
}
