<h1 class="text-center text-white">
  Muzika
</h1>
<p class="address"> <strong>주소:</strong> {{address}} </p>

<div class="content">
  <div class="container">
    <div class="wrapper">
      <h2 class="d-flex text-white justify-content-between">
        <a class="backbtn" [ngClass]="stepTransfer ? 'visible' : 'invisible'" (click)="reset()"><i class="fa fa-arrow-left"></i></a>
        <span> 지갑 잔액 </span>
        <a class="invisible"><i class="fa fa-arrow-left"></i></a>
      </h2>

      <div class="inner">
        <div class="d-flex align-items-center" [class.show]="!stepTransfer" [class.hide]="stepTransfer">
          <div class="flex-grow-1">
            <h1 class="balance"> {{balance | number:'1.0-6'}} MZK </h1>
          </div>
        </div>
        <div class="row align-items-center" [class.show]="stepTransfer" [class.hide]="!stepTransfer">
          <div class="offset-1 col-10">
            <form #transferForm="ngForm">
              <div class="form-group">
                <label for="toAddress">받는 주소</label>
                <input type="text" class="form-control" id="toAddress" name="toAddress"
                       placeholder="0x80fe0abccd55adfe89b554d3cab3f5bb5f16A376"
                       pattern="0x[a-fA-F0-9]{40}"
                       [(ngModel)]="toAddress" required>
              </div>
              <div class="form-group">
                <label for="amount">보낼 수량</label>
                <div class="input-group">
                  <input type="number" class="form-control" id="amount" name="amount"
                         [(ngModel)]="amount" required>
                  <div class="input-group-append">
                    <span class="input-group-text">MZK</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="gasLimit">가스 한도</label>
                <input type="number" class="form-control" id="gasLimit" name="gasLimit"
                       [(ngModel)]="gasLimit" required>
              </div>
              <div class="form-group">
                <label for="gasPrice">가스 가격</label>
                <div class="input-group">
                  <input type="number" class="form-control" id="gasPrice" name="gasPrice"
                         [(ngModel)]="gasPrice" required>
                  <div class="input-group-append">
                    <span class="input-group-text">Gwei</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <p class="text-center text-main-color">
                  <input type="checkbox" name="agreeTransfer" id="agreeTransfer"
                         [(ngModel)]="agreeTransfer" required>
                  위 내용으로 MZK 코인을 전송합니다. 한번 더 확인해 주세요.
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-light" id="transfer"
                (click)="transfer(transferForm)" [disabled]="!supportTransfer">
          MZK 코인 전송
        </button>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="other-method">
    <a routerLink="/"> 다른 지갑 선택 </a>
  </div>
</footer>
