
<!-- BUSINESS IDEA start  -->
<section class="section" id="token-metrics">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center mx-auto">
          <div class="section-title-icon">
            <i class="pe-7s-micro text-custom"></i>
          </div>
          <h2 class="intro-section-title"> {{'intro-token-metrics.title' | translate}} </h2>
        </div>
      </div>
    </div>

    <div class="metrics mt-5">
      <table class="metric-table">
        <tr>
          <th>{{'intro-token-metrics.num-of-tokens' | translate}}</th>
          <th>{{'intro-token-metrics.percent-for-sale' | translate}}</th>
        </tr>
        <tr>
          <td>1,000,000,000</td>
          <td>20.5 %</td>
        </tr>
      </table>
      <table class="metric-table mt-4">
        <tr>
          <th>{{'intro-token-metrics.num-of-tokens-for-sale' | translate}}</th>
          <th>{{'intro-token-metrics.hardcap' | translate}}</th>
        </tr>
        <tr>
          <td>
            205,000,000
          </td>
          <td>
            20,000 ETH
          </td>
        </tr>
      </table>
    </div>

    <div class="section-image mx-auto">
      <img src="assets/intro-img/metrics/token-metrics.png">
    </div>
  </div>
</section>
<!-- BUSINESS IDEA end  -->
