@import '../../theme/variables';

:host {
  background-color: $titlebar-background;
  display: block;
}

.titlebar-default {
  height: $default-titlebar-height;

  .title {
    height: $default-titlebar-height;
    line-height: $default-titlebar-height;
    padding-left: 12px;
  }

  .btns {
    -webkit-app-region: no-drag;
    position: fixed;
    padding: 0;
    margin: 0;
    right: 0;

    button {
      width: $default-titlebar-height + 12;
      height: $default-titlebar-height;
      color: white;
      padding: 0;
      margin: 0;
      background: transparent;
      border: 0 none;

      &:hover {
        background-color: #4e4e4e;
      }

      svg {
        width: 10px;
        height: 10px;
        stroke: #fff;
        fill: none;
        stroke-width: 1.5px;
      }
    }
  }
}

.titlebar-mac {
  height: $mac-titlebar-height;

  .title {
    height: $mac-titlebar-height;
    line-height: $mac-titlebar-height;
    padding-left: 68px;
  }
}

.titlebar {
  -webkit-app-region: drag;

  .title {
    position: fixed;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    cursor: default;
    user-select: none;
  }
}
