<div class="titlebar"
     [class.titlebar-default]="platform !== 'darwin'"
     [class.titlebar-mac]="platform === 'darwin'">
  <div class="title" *ngIf="platform !== 'darwin'">
    Muzika - Artist Studio
  </div>

  <div class="btns" *ngIf="platform !== 'darwin'">
    <button (click)="minimize()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
        <line x1="0" y1="5" x2="10" y2="5"></line>
      </svg>
    </button>

    <button (click)="toggleMaximize()" *ngIf="!isMaximized">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
        <rect x="0" y="0" width="10" height="10"></rect>
      </svg>
    </button>

    <button (click)="toggleMaximize()" *ngIf="isMaximized">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
        <polygon class="cls-1" points="10.13 0.13 2.63 0.13 2.63 2.63 7.63 2.63 7.63 7.63 10.13 7.63 10.13 0.13"></polygon>
        <polygon class="cls-1" points="2.63 2.63 0.13 2.63 0.13 10.13 7.63 10.13 7.63 7.63 7.63 2.63 2.63 2.63"></polygon>
      </svg>
    </button>

    <button (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.71 10.71">
        <line x1="0.35" y1="10.35" x2="10.31" y2="0.35"></line>
        <line x1="10.35" y1="10.35" x2="0.4" y2="0.35"></line>
      </svg>
    </button>
  </div>
</div>
