
h2 {
  font-weight: 700;
}

.section {
  background: url('../../../../assets/images/design/wave-3.png') no-repeat bottom #192538;
  background-size: 100%;
  padding-bottom: 160px;
}

.intro-section-title {
  color: white;
}

section {

  padding-top: 0 !important;
  .team-box {
    .team-img {
      float: left;
      img {
        border: 1px solid #d4d4d4;
        margin-right: 5px;
      }
    }

    .team-desc {
      padding-left: 115px;
      .team-name {
        color: white;
        font-size: 14px;
      }
      .team-position {
        color: #8196b2;
        font-size: 12px;
      }
    }
  }
}
