
h2 {
  font-weight: 700;
}

section {
  border-top: 1px solid #d4d4d4;
  .team-box {
    .team-img {
      float: left;
      img {
        border: 1px solid #d4d4d4;
        margin-right: 5px;
      }
    }

    .team-desc {
      padding-left: 115px;
      .team-name {
        font-size: 14px;
      }
      .team-position {
        font-size: 12px;
      }
    }
  }
}
