
h2 {
  font-weight: 700;
}

.section {
  background: url('../../../../assets/intro-img/design/wave-3.png') no-repeat bottom #192538;
  background-size: 100%;
  padding-top: 0 !important;
  padding-bottom: 160px;
}

.intro-section-title {
  color: white;
}

.team-box {
  .team-img {
    float: left;
    img {
      border: 1px solid #d4d4d4;
      margin-right: 5px;
    }
  }

  .team-desc {
    padding-left: 115px;
    .team-name {
      color: white;
      font-size: 14px;
    }
    .team-position {
      color: #8196b2;
      font-size: 12px;
      margin-bottom: 0;
    }

    a {
      color: white;
      margin-right: 4px;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media(max-width: 738px) {
  .section {
    padding-bottom: 50px;
  }

  .team-box {
    text-align: center;

    .team-img {
      float: none;
    }

    .team-desc {
      padding-left: 0;
    }
  }
}
