
<!-- Staff Team start -->
<section class="section" id="team">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section-title text-center mx-auto">
          <div class="section-title-icon">
            <i class="pe-7s-like2 text-custom"></i>
          </div>
          <h2>MEET OUR TEAM</h2>
        </div>
      </div>
    </div>
    <div class="row mt-3 pt-3">
      <div class="col-lg-3 mt-3" *ngFor="let member of members">
        <div class="team-box pt-4 pb-4 pl-2">
          <div class="team-img mr-2">
            <img [src]="'assets/images/team/' + member.image" alt="" class="mx-auto d-block rounded-circle " height="90">
          </div>
          <div class="team-desc text-center mt-4 pl-1">
            <h6 class="team-name text-custom mb-1">{{member.name}}</h6>
            <p class="team-work text-muted">{{member.position}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team end  -->
