<section class="post-write bg-white h-100">
  <form class="form h-100" #form="ngForm" (ngSubmit)="submit(form)">
    <div class="row h-100 mx-0">
      <section class="col extra-section sale-sheet-section" id="sale-sheet-section">
        <h5> Upload sheet music </h5>

        <div class="upload-form">
          <label class="upload-btn" for="upload-sheet" [class.disabled]="uploadStatus?.status === 'uploading'">
            <input type="file" id="upload-sheet" class="upload-sheet d-none" name="upload-sheet"
                   ngFileSelect [uploadInput]="uploadInput" (uploadOutput)="onUploadOutput($event)"
                   [disabled]="uploadStatus?.status === 'uploading'">
            <span class="btn-text">
              Select sheet music (PDF format)
            </span>
          </label>

          <div class="file-name" *ngIf="uploadStatus" [class.text-danger]="uploadStatus.status === 'failed'">
            <i class="fa fa-file-pdf"></i> {{uploadStatus.fileName}}
            <i class="fa fa-check text-success small" *ngIf="uploadStatus.status === 'done'"></i>
            <i class="fa fas fa-circle-notch fa-spin"
               *ngIf="uploadStatus.status === 'uploading' && uploadStatus.process === 'pending'"></i>

            <ng-container *ngIf="uploadStatus.status === 'failed'">
              <i class="fa fa-times text-danger small"></i> failed!
            </ng-container>
          </div>
        </div>

        <div class="progress upload-progress position-relative" *ngIf="uploadStatus">
          <div class="progress-bar"
               role="progressbar"
               [attr.aria-valuenow]="uploadStatus.progress" aria-valuemin="0" aria-valuemax="100"
               [style.width]="uploadStatus.progress + '%'">
            <div style="position: absolute; left: 0; right: 0">
              {{uploadStatus.progress}}%
            </div>
          </div>
        </div>

        <h5> Song type </h5>

        <div class="song-type-form">
          <div class="btn-group">
            <button class="btn btn-secondary" type="button"
                    [class.active]="songType === '~cover'"
                    (click)="songType = '~cover'"> Cover </button>
            <button class="btn btn-secondary" type="button"
                    [class.active]="songType === '~original'"
                    (click)="songType = '~original'"> Original </button>
          </div>
        </div>

        <h5> Genre </h5>

        <div class="tag-selector genre-form">
          <ul>
            <li *ngFor="let genre of genreSelections"
                [class.active]="genres.has(genre.value)" (click)="toggleGenre(genre.value)">
              {{genre.name}}
            </li>
          </ul>
        </div>

        <h5> Instrument </h5>

        <div class="tag-selector instrument-form">
          <ul>
            <li *ngFor="let instrument of instrumentSelections"
                [class.active]="instruments.has(instrument.value)" (click)="toggleInstrument(instrument.value)">
              {{instrument.name}}
            </li>
          </ul>
        </div>

        <h5> Price </h5>

        <div class="price-form">
          <div class="input-group">
            <input type="number" class="form-control" id="price" name="price"
                   [(ngModel)]="post.price" required>
            <div class="input-group-append">
              <div class="input-group-text">
                MZK
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="col-6 px-0 write-form border-left">
        <div class="title">
          <input type="text" id="title" name="title" class="w-100" placeholder="Title"
                 required [(ngModel)]="post.title">
        </div>

        <div class="description">
          <div [froalaEditor]="options" [(froalaModel)]="post.content"></div>
        </div>
      </div>
    </div>

    <div class="submit-floating">
      <button mat-raised-button color="accent"> <i class="fa fa-pencil"></i> Upload </button>
    </div>
  </form>
</section>
