<h4>Select Your Wallet File</h4>
<h5>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
    <path fill="#d9534f"
          d="M256 0C114.844 0 0 114.844 0 256s114.844 256 256 256 256-114.844 256-256S397.156 0 256 0zm102.625 313.375c12.5 12.492 12.5 32.758 0 45.25C352.383 364.875 344.188 368 336 368s-16.383-3.125-22.625-9.375L256 301.25l-57.375 57.375C192.383 364.875 184.188 368 176 368s-16.383-3.125-22.625-9.375c-12.5-12.492-12.5-32.758 0-45.25L210.75 256l-57.375-57.375c-12.5-12.492-12.5-32.758 0-45.25 12.484-12.5 32.766-12.5 45.25 0L256 210.75l57.375-57.375c12.484-12.5 32.766-12.5 45.25 0 12.5 12.492 12.5 32.758 0 45.25L301.25 256l57.375 57.375z"></path>
  </svg>
  This is <u>not</u> a recommended way to access your wallet.
</h5>
<div class="form-group">
  Entering your private key on a website dangerous. If our website is compromised or you accidentally visit a
  different website, your funds will be stolen. Please consider:
</div>
<ul>
  <li>
    <a href="https://myetherwallet.github.io/knowledge-base/migration/moving-from-private-key-to-metamask.html"
       target="_blank" rel="noopener noreferrer">
      MetaMask
    </a>
    or
    <a
      href="https://myetherwallet.github.io/knowledge-base/hardware-wallets/hardware-wallet-recommendations.html"
      target="_blank" rel="noopener noreferrer">
      A Hardware Wallet
    </a>
    or
    <a href="https://myetherwallet.github.io/knowledge-base/offline/running-myetherwallet-locally.html"
       target="_blank" rel="noopener noreferrer">
      Running MEW Offline &amp; Locally
    </a>
  </li>
  <li>
    <a href="https://myetherwallet.github.io/knowledge-base/security/securing-your-ethereum.html"
       target="_blank" rel="noopener noreferrer">
      Learning How to Protect Yourself and Your Funds
    </a>
  </li>
</ul>
<br>
<div class="form-group">
  <form #keystoreForm="ngForm" (ngSubmit)="usingKeystore(keystoreForm)">
    <div class="d-block d-md-flex">
      <div class="form-group text-center">
        <label class="keystore-file" for="keystore-select">
          <input type="file" class="d-none" id="keystore-select" name="keystore-select" ngModel
                 (change)="onKeystoreSelect($event)" required>
          <a class="btn-file marg-v-sm" *ngIf="!keystoreFile" tabindex="0" role="button">
            SELECT WALLET FILE...
          </a>
          <div id="keystore-file-name" *ngIf="!!keystoreFile">
            {{keystoreFile.name}}
          </div>
        </label>
      </div>
      <div class="form-group text-center flex-grow-1 d-flex justify-content-center flex-column">
        <h5 class="text-center text-main-color"> 지갑 파일 선택 후 비밀번호를 입력해주세요 </h5>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
          </div>
          <input type="password" class="form-control" name="keyPassword" id="keyPassword"
                 ngModel placeholder="비밀번호" required>
        </div>
        <div class="text-center" style="margin-top: 12px;">
          <button type="submit" class="btn btn-outline-light"> 가져오기 </button>
        </div>
      </div>
    </div>
  </form>

</div>
