<div class="section write-form text-right" #commentWriteForm>
  <form (ngSubmit)="write(null, writtenContent)">
      <textarea id="comment-area-0" matInput
                [(ngModel)]="writtenContent"
                required="required"
                [ngModelOptions]="{standalone: true}"
                minlength="4"
                placeholder="Write here"></textarea>
    <small class="text-muted mp-hint">
      {{writtenContent.length}}
    </small>
    <button type="submit" class="btn btn-primary float-right">
      Submit
    </button>
  </form>
</div>

<div class="section comment" *ngFor="let comment of commentResult?.list" [id]="'comment-section-' + comment.comment_id">
  <div class="content">
    <img [src]="comment.author.profile_image" class="profile-img">

    <ng-template [ngIf]="!modifyShow[comment.comment_id]">
      <a class="float-right text-center like-btn" [class.active]="comment.my_like" (click)="like(comment)">
        <i class="fal fa-thumbs-up"></i> {{comment.likes}}
      </a>
      <a [routerLink]="['/profile', comment.author.user_id]">
        <b> {{comment.author.name}} </b>
      </a>

      <span class="comment-content"
            [innerHtml]="comment.content"></span>
    </ng-template>

    <ng-template [ngIf]="modifyShow[comment.comment_id]">
      <form (ngSubmit)="modifyApply(comment.comment_id, modifyShow[comment.comment_id])">
        <div class="comment-content-modify">
                    <textarea mpTextarea matInput required="required" minlength="4"
                              [ngModelOptions]="{standalone: true}"
                              placeholder="Write here"
                              [(ngModel)]="modifyShow[comment.comment_id]"></textarea>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>
    </ng-template>

    <div class="comment-extra small">
            <span class="text-danger" *ngIf="comment.likes >= 5">
                Hot
            </span>
      <!--<time>{{comment.created_at}}</time>-->
      <a (click)="replyShow[comment.comment_id] = !replyShow[comment.comment_id];">
        Reply
      </a>
      <ng-template [ngIf]="comment.author.user_id == currentUser?.user_id">
        <a (click)="modify(comment)">
          {{modifyShow[comment.comment_id] ? 'Cancel' : 'Modify'}}
        </a>
        <a (click)="remove(comment.comment_id)">
          Delete
        </a>
      </ng-template>
      <!--
      <a *ngIf="comment.author.user_id != currentUser?.user_id" (click)="violation(comment.comment_id)">
        Report
      </a>
      -->
    </div>
  </div>
  <div class="reply-write-form" *ngIf="replyShow[comment.comment_id]">
    <form (ngSubmit)="write(comment.comment_id, replyContent[comment.comment_id])">
        <textarea [id]="'comment-area-' + comment.comment_id"
                  matInput [(ngModel)]="replyContent[comment.comment_id]"
                  required="required" [ngModelOptions]="{standalone: true}"
                  minlength="4" #replyTextarea
                  placeholder="Reply here"></textarea>
      <span class="text-muted hint" align="end">
                {{replyTextarea.value.length}}
            </span>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="reply" *ngIf="comment.reply_list && comment.reply_list.length > 0">
    <div class="section comment" *ngFor="let reply of comment.reply_list" [id]="'comment-section-' + reply.comment_id">
      <img [src]="reply.author.profile_image" class="profile-img">
      <div class="content">
        <ng-container *ngIf="!modifyShow[reply.comment_id]">
          <a class="float-right text-center like-btn" [class.active]="reply.my_like" (click)="like(reply)">
            <i class="fal fa-thumbs-up"></i> {{reply.likes}}
          </a>
          <a [routerLink]="['/profile', reply.author.id]">
            <b> {{reply.author.name}} </b>
          </a>

          <span class="comment-content" [innerHtml]="reply.content"></span>
        </ng-container>

        <ng-container *ngIf="modifyShow[reply.comment_id]">
          <form (ngSubmit)="modifyApply(reply.comment_id, modifyShow[reply.comment_id])">
            <div class="comment-content-modify">
                            <textarea matInput required="required" minlength="4"
                                      placeholder="Reply here"
                                      [(ngModel)]="modifyShow[reply.comment_id]"
                                      [ngModelOptions]="{standalone: true}"></textarea>
              <button type="submit" class="btn btn-primary">Edit
              </button>
            </div>
          </form>
        </ng-container>

        <div class="comment-extra small">
          <span class="text-danger" *ngIf="reply.likes >= 5"> Hot </span>

          <!--<time>{{reply.customTime}}</time>-->
          <a (click)="replyShow[comment.comment_id]=!replyShow[comment.comment_id];">
            Reply
          </a>
          <ng-template [ngIf]="reply.author.user_id == currentUser?.user_id">
            <a (click)="modify(reply)">
              {{modifyShow[reply.comment_id] ? 'Cancel' : 'Modify'}}
            </a>
            <a (click)="remove(reply.comment_id)">
              Delete
            </a>
          </ng-template>
          <!--
          <a *ngIf="reply.author.id != currentUser?.id" (click)="violation(reply.comment_id)">
            Report
          </a>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<muzika-pagination [pages]="commentResult?.page" (pageClick)="loadComments($event)"
                   class="text-center"></muzika-pagination>
-->
