<div class="bg-white mb-4" *ngIf="post">
  <div class="row mx-0">
    <div class="col-8 px-0">
      <section id="blog" class="blog border-right h-100">
        <article class="post">
          <app-post-item-detail-header [post]="post"></app-post-item-detail-header>

          <header>
            <h5 itemprop="headline">{{post.title}}</h5>
          </header>

          <main [froalaView]="post.content"></main>
        </article>
      </section>
    </div>

    <div class="col-4 pb-4">
      <div class="attached">
        <h4> Contract Address </h4>
        <p> {{post.music_contract.contract_address}} </p>

        <h4> Price </h4>
        <p> {{post.price | number}} MZK </p>

        <div class="text-center">
          <ng-container *ngIf="!isPurchased">
            <button type="button" class="btn btn-primary" (click)="purchase()"> Purchase </button>
          </ng-container>
          <ng-container *ngIf="isPurchased">
            <button type="button" class="btn btn-primary" (click)="sheetView()"> View </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <app-post-comment boardType="music"></app-post-comment>
</div>
