@import '../../../../theme/variables';


.file-select-form {
  height: 7rem;
  color: #666;
  border: 5px dotted #eee;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;

  .upload-btn {
    cursor: pointer;
    background: #EEE;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    transition-duration: 0.2s;

    .btn-text {
      display: block;
      text-align: center;
      padding: 8px 30px;
      border-radius: 4px;
    }

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }

    &.disabled {
      cursor: not-allowed;

      .btn-text {
        background-color: #eee;
        color: #aaa;
      }
    }
  }
}

.file-name {
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.upload-progress {
  margin-top: 12px;
}

.tags-song-type {
  ul {
    list-style: none;
    padding-left: 0;

    li {

    }
  }
}

.preview-item {
  &:before {
    content: ' ';
    border-bottom: 1px dotted #000000;
    width: 11px;
    display: inline-block;
    height: 12px;
    margin-right: 6px;
    margin-bottom: 4px;
    border-left: 1px dotted #000;
  }
}
