@import '../../../../theme/variables';

form {
  .submit-floating {
    position: fixed;
    right: 35px;
    bottom: 27px;
    z-index: 10;
  }

  input, select, button.btn {
    box-shadow: none !important;
    &:focus, &:active {
      box-shadow: none;
    }
  }
}

.write-form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #eee;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 12px;
    outline: none;
  }

  .description {
    flex: 1;
    display: flex;
    flex-direction: column;

    /deep/ {
      .fr-wrapper, .fr-toolbar {
        border: none;
      }

      .fr-box {
        display: flex;
        flex-direction: column;

        .fr-wrapper {
          flex: 1;
          overflow-y: auto;
          padding-bottom: 10vh;
        }

        .fr-toolbar {
          border-bottom: 1px solid #eee;

          .fr-hs {
            width: 100%;
          }
        }
      }
    }
  }
}

.extra-section {
  padding: 15px;
  padding-bottom: 10vh;
  overflow-y: auto;
  // background-color: rgb(251, 250, 245);

  h5 {
    padding: 6px 0;
    font-weight: bold;
    // border-left: 5px solid $primary-color;
    // margin-left: -1rem;
    margin-top: 32px;

    &:first-child {
      margin-top: 0;
    }
  }

  .tags {
    .tag {
      background: #2f3c60;
      color: #fff;
      padding: 0 8px;
      border-radius: 6px;
      font-size: 0.9rem;
      margin-right: 6px;

      i.fa {
        cursor: pointer;
        line-height: 21px;
        font-size: 0.6rem;
      }
    }
  }

  .input-group {
    .input-group-text {
      background-color: $primary-color;
      color: #fff;
      font-weight: bold;
    }
  }
}

.tag-selector {
  ul {
    list-style: none;
    padding-left: 0;
    border: 1px solid #aaa;
    border-bottom: none;
    border-left: none;

    li {
      padding: 6px 12px;
      background-color: #f8f9fa;
      border-bottom: 1px solid #aaa;
      border-left: 1px solid #aaa;
      width: 50%;
      display: inline-block;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;

      &:hover:not(.active) {
        background-color: #e6e6e6;
      }

      &:active:not(.active) {
        background-color: #d6d6d6;
      }

      &.active {
        background-color: $secondary-color;
        color: #fff;
      }
    }
  }
}

