@import '../../../theme/variables';

:host {
  display: block;
  background-color: #2d343a;
  padding: 30px 0;

  brand-icon-muzika {
    height: 35px;
    fill: mat-contrast($primary-palette, 700);
  }
}
