@import '../theme/variables';

:host {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: $background-color;
}

.app-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;

  &:not(.wallet):not(.floating-wallet) {
    .wallet-content {
      display: none;
    }
  }

  &:not(.floating-wallet) {
    .wallet-content {
      .floating-close {
        display: none;
      }
    }
  }

  .main-content {
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .backdrop {
    background: rgba(0, 0, 0, 0);
    transition: background ease 0.3s;
  }

  .wallet-content {
    .floating-close {
      position: absolute;
      right: 5px;
      top: 0;
      color: #929292;
      cursor: pointer;
    }
  }

  &.wallet {
    .main-content {
      display: none;
    }

    .wallet-content {
      height: 100%;
      flex-grow: 1;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  &.floating-wallet {
    .wallet-content {
      background: rgba(255, 255, 255, .95);
      border: 1px solid black;
      border-radius: 5px 5px;
      width: 80%;
      height: 80%;
      position: absolute;
      left: 10%;
      top: 10%;
      z-index: 11;
    }

    .backdrop {
      background: rgba(0,0,0, .8);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
    }
  }

}
