@import '../../../theme/variables';

:host {
  background-color: #fff;
  display: block;
  height: 75px;
}

.navbar-brand {
  outline: none;
  cursor: pointer;

  brand-icon-muzika {
    height: 30px;
    fill: #000;
  }
}
