@import '../../../theme/variables';

:host {
  background-color: $navbar-background;
  display: block;
}

.navbar-brand {
  outline: none;
  cursor: pointer;

  brand-icon-muzika {
    height: $navbar-brand-size;

    /deep/ .muzika-icon-striped-primary {
      fill: $brand-color-1;
    }

    /deep/ .muzika-icon-striped-secondary {
      fill: $brand-color-2;
    }
  }
}

.wallet {
  text-transform: lowercase;
  color: map-get($secondary-palette, 500);
}

.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    text-align: center;
    padding-bottom: 1.5rem;
    color: map-get($secondary-palette, 200);
    outline: none;

    &.active {
      border-bottom: 5px solid $primary-color;
      color: $primary-color;
    }

    &[routerLink] {
      cursor: pointer;
    }
  }
}

.user-profile-img {
  img {
    height: 3.8rem;
    border-radius: 50%;
  }
}
