<nav class="navbar navbar-expand">
  <div class="container">
    <div class="navbar-brand" routerLink="/">
      <brand-icon-muzika></brand-icon-muzika>
    </div>

    <div class="navbar-collapse">
      <ul class="row main-menu flex-grow-1">
        <li routerLink="/board/video" routerLinkActive="active">
          <i class="fab fa-youtube"></i>
          영상
        </li>
        <li routerLink="/board/community" routerLinkActive="active">
          <i class="fa fa-users"></i>
          커뮤니티
        </li>
        <li routerLink="/board/sheet" routerLinkActive="active">
          <i class="fa fa-music"></i>
          악보
        </li>
        <li class="search">
          <div class="search-wrapper">
            <div class="search-icon">
              <i class="fa fa-search"></i>
            </div>
            <div class="search-input">
              <input type="text" class="w-100" placeholder="Search">
            </div>
          </div>
        </li>
      </ul>
      <ng-container *ngIf="currentUser; else loggedInBlock">
        <div class="ml-auto">
          <div class="user-profile-img">
            <img src="assets/person-1.png">
          </div>
        </div>
        <div class="pl-4">
          <div class="font-weight-bold user-name">
            {{currentUser.name || 'Unnamed'}}
          </div>
          <div class="wallet">
            {{currentUser.address | slice:0:8}}...{{currentUser.address | slice:-6}}
          </div>
        </div>
      </ng-container>

      <ng-template #loggedInBlock>
        <div class="ml-auto pr-4">
          <!-- @TODO Allowed other wallets (now only support metamask) -->
          <a mat-button color="white" routerLink="/login">
            로그인
          </a>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
<!--
<div class="pt-4">
  <div class="container font-weight-bold px-0">
    <ul class="row main-menu">
      <li class="col" routerLink="/board/video" routerLinkActive="active">
        <i class="fab fa-youtube"></i>
        영상
      </li>
      <li class="col" routerLink="/board/community" routerLinkActive="active">
        <i class="fa fa-users"></i>
        커뮤니티
      </li>
      <li class="col" routerLink="/board/sheet" routerLinkActive="active">
        <i class="fa fa-sheet"></i>
        악보
      </li>
      <li class="col">
        준비중...
      </li>
    </ul>
  </div>
</div>
-->
