@import '../../../theme/variables';

:host {
  background-color: $navbar-background;
  display: block;
}

.navbar-brand {
  outline: none;
  cursor: pointer;

  brand-icon-muzika {
    height: $navbar-brand-size;

    /deep/ .muzika-icon-striped-primary {
      fill: $brand-color-1;
    }

    /deep/ .muzika-icon-striped-secondary {
      fill: $brand-color-2;
    }
  }
}

.wallet {
  text-transform: lowercase;
  color: map-get($secondary-palette, 500);
}

.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    width: 140px;
    line-height: 40px;
    text-align: center;
    //padding-bottom: 1.5rem;
    color: map-get($secondary-palette, 200);
    outline: none;
    transition: all 0.1s ease-in-out;

    &.active {
      //border-bottom: 5px solid $primary-color;
      //font-size: 115%;
      color: #fff;
    }

    &[routerLink] {
      cursor: pointer;
    }
  }
}

.user-profile-img {
  img {
    height: 2.8rem;
    border-radius: 50%;
  }
}

.search {
  position: relative;

  .search-wrapper {
    background: #fff;
    border-radius: 4px;
    width: 360px;
    color: #404040;

    .search-icon {
      float: left;
      padding: 0 16px;

      i {
        padding: 0;
        margin: 0;
      }
    }

    .search-input {
      overflow: hidden;

      input {
        background: transparent;
        border: none;
        outline: none;
        height: 100%;
      }
    }
  }
}

.user-name {
  color: #fff;
}

.wallet {
  color: #a8a8a8;
}
