:host {
  position: absolute;
  right: -150px;
  top: 336px;
  display: block;
  background: white;
  border-radius: 15px 15px;
  width: 150px;
  padding: 15px;

  @media(max-width: 738px) {
    position: fixed;
    bottom: 0;
    top: auto;
    right: auto;
    left: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0 0;
    border-top: 2px solid #192538;

    padding: 4px 28px;

    h5 {
      text-align: left;
    }

    p {
      text-align: right;
    }

    h5, p {
      font-size: 13px;
      display: inline-block;
      width: 33%;

      .loyaltyPoint, .mzk {
        padding: 0 8px;
      }
    }
  }
}

h5 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

p {
  font-weight: 600;
  padding: 0 0 0 12px;
  margin: 0;
  color: #35e8c6;

  .loyaltyPoint, .mzk {
    padding: 0 15px 0 15px;
  }

  .currency {
    color: #192538;
  }
}
