<div class="">
  <div class="container px-0">
    <div class="row">
      <div class="col-lg-9">
        <div class="row pt-3">
          <div class="col" *ngFor="let sheet of topSheets">
            <app-artist-sheet [sheet]="sheet"></app-artist-sheet>
          </div>
        </div>

        <div class="bg-secondary my-4 p-4 material-shadow">
          <h4 class="m-0"> 악보 </h4>
        </div>

        <div class="bg-white border border-bottom-0">
          <ul class="sheets">
            <li app-post-sheet [sheet]="sheet" *ngFor="let sheet of sheets"></li>
          </ul>
        </div>

        <div class="bg-white mt-4 p-4 material-shadow">
          <h4 class="m-0"> 커뮤니티 </h4>
        </div>

        <div class="row pt-3">
          <div class="col">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="col pl-0">
        <div class="mt-3 py-4 px-4 bg-primary">
          <h3 class="text-center">
            20,000 <small> MZK </small>
          </h3>
          <h4 class="text-center">
            210,301 <small> LP </small>
          </h4>

          <div class="text-center mt-4">
            <a class="small"> 거래 내역 </a>
            <a class="small"> 토큰 전송 </a>
          </div>
        </div>

        <div class="my-4 p-3 bg-white">
          <p class="text-center">
            <i class="fa fa-exclamation-triangle fa-3x text-secondary"></i>
          </p>
          <h6 class="text-center">
            이더/코인이 없으신가요?
          </h6>

          <div class="row">
            <div class="col pr-1">
              <button mat-raised-button color="accent" class="btn-block"> 이더 얻기 </button>
            </div>
            <div class="col pl-1">
              <button mat-raised-button color="accent" class="btn-block"> 코인 얻기 </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
