.section {
  // background: url(../../../../assets/intro-img/design/wave-4.png) no-repeat;
  background-size: 100%;
  color: #8196b2;

  @media (min-width: 992px) {
    background-color: #192538;

    .container-outer {
      min-width: 960px;
      width: calc(100% - 240px);
      margin-left: auto;
      margin-right: auto;
      background-color: white;
    }
  }
}

.intro-section-title {
  text-align: center;
  color: #343c4d;
}

.intro-section-subtitle {
  margin-top: 12px;
  color: #5A6D86;
}

.intro-section-subtitle-2 {
  color: black;
  margin-top: 74px;
  font-size: 1.3rem;
  font-weight: bold;
}

ul.challenge-list {
  margin-top: 50px;
  padding: 0;
  list-style: none;
  width: 750px;

  li {
    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .challenge-icon {
      padding: 30px;

      img {
        width: 100px;
        height: 100px;
      }
    }

    .challenge-desc {
      flex: 1;
      text-align: left;
      display: flex;
      align-items: center;
    }

    &:after {
      display: table;
      content: ' ';
      clear: both;
    }
  }

  @media (max-width: 768px) {
    width: 100%;

    li {
      .challenge-icon {
        width: 100%;
      }

      .challenge-desc {
        width: 100%;
        text-align: center;
        flex: none;
      }
    }
  }
}

.desc-2 {
  width: 680px;
  margin-top: 50px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.solution-img {
  width: 800px;

  @media (max-width: 991px) {
    max-width: 100%;
  }
}

.diff-img-container {
  width: 100%;

  .diff-img-caption {
    margin-top: 0.5em;
    font-size: 0.8em;
    text-align: center;
  }
}

@media (min-width: 991px) {
  .diff-img-1,
  .diff-img-2,
  .diff-img-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .diff-img-1, .diff-img-2 {
    display: block;
    height: 186px;
  }

  .diff-img-3 {
    width: 100%;
    display: block;
  }
}

@media (max-width: 991px) and (min-width: 769px) {
  .diff-img-1, .diff-img-2, .diff-img-3 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .diff-img-1,
  .diff-img-2,
  .diff-img-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .diff-img-1,
  .diff-img-2 {
    width: auto;
    height: 142px;
  }

  .diff-img-3 {
    width: 100%;
  }

  .diff-img-caption {
    margin-bottom: 30px;
  }
}

#the-challenge {
  @media (min-width: 992px) {
    padding-bottom: 0;

    > .container-outer {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    &:before {
      display: block;
      border-bottom: 45px solid white;
      border-left: 28px solid transparent;
      border-right: 28px solid transparent;
      height: 0;
      width: 240px;
      margin: 0 auto;
      content: ' ';
    }
  }
}

#makes-different {
  .row {
    margin-top: 45px;
  }

  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;

    > .container-outer {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
}
