$artist-list-width: 600px;

.artist-list {
  display: block;
  margin: 100px auto 0 auto;
  width: $artist-list-width;

  @media (max-width: 738px) {
    text-align: center;
    width: 100%;
    margin: 20px 0 0 0;
  }

  .artist-row {
    text-align: center;
    display: inline-block;
    width: $artist-list-width / 5;
    @media (max-width: 738px) {
      width: 100px;
    }

    img {
      margin: 10px auto;
      display: block;
      border-radius: 80px 80px;
      width: 80px;
      height: 80px;
    }

    .name {
      font-weight: 700;
    }
  }

  .subscribe {
    display: block;
    cursor: pointer;
    text-align: center;
    background: white;
    border-radius: 15px 15px;
    border: 1px solid #76dbc7;
    color: #76dbc7;
    font-weight: 600;
    width: $artist-list-width / 5 - 40px;
    margin: 10px auto;

    &:hover {
      background: #76dbc7;
      color: white;
    }

    &:focus {
      outline: none;
    }
  }
}
