
.bg-home-full {
  height: 480px;
}

.bg-home {
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 120px 0;
}

.home-title {
  font-size: 3.1rem;
}

.home-subtitle {
  color: #727070;
}

/deep/ canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.btn {
  padding: 8px 16px;
  font-size: 12px;
}
