<div class="bg-white mb-4">
  <div class="row">
    <div class="col-8">
      <section id="blog" class="blog border">
        <article class="post">
          <app-post-item-detail-header [post]="post"></app-post-item-detail-header>

          <header>
            <h1 itemprop="headline">{{post.title}}</h1>
          </header>

          <main [froalaView]="post.content"></main>
        </article>
      </section>
    </div>
  </div>

  <app-post-comment boardType="community"></app-post-comment>
</div>
