@media(max-width: 738px) {
  :host {
    font-size: 14px;
  }

  .title {
    font-size: 18px;
  }
}

.exchange-bar {
  display: block;
  background: #f2f2f2;
  border-radius: 30px 30px;
  width: 100%;
  height: 60px;
  position: relative;

  .lp-part, .mzk-part {
    position: absolute;
    top: 14px;
    font-size: 20px;
  }

  .exchange-btn {
    position: absolute;
    background: #76dbc7;
    color: white;
    top: 10px;
    left: 50%;
    border-radius: 20px 20px;
    width: 60px;
    font-size: 23px;
    text-align: center;
    line-height: 40px;
    margin-left: -30px;
    height: 40px;
    cursor: pointer;
  }

  .lp-part {
    left: 25%;
  }

  .mzk-part {
    right: 25%;
  }

  @media (max-width: 738px) {
    .lp-part {
      left: 15%;
    }

    .mzk-part {
      right: 10%;
    }
  }
}

.lp-desc {
  margin-top: 18px;
}

@media (max-width: 738px) {
  ul {
    margin-left: 8px;
    padding-right: 15px;
    padding-left: 25px;
  }
}

.instruction {
  li {
    display: none;
  }
}

.receive-code {
  border-radius: 8px 8px;
  font-size: 16px;
  padding: 4px 8px;
  background: #192538;
  color: #76dbc7;
}

.receive-box {
  display: none;

  &.one {
    background: #f1f1f1;
    padding: 30px 15px;
    border-radius: 20px 20px;
  }

  .input-group {
    margin: 0 auto;
    max-width: 500px;

    .form-control {
      background: rgb(250, 250, 250);
      border: none;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .btn {
      background: #76dbc7;
      color: white;
      padding-right: 15px;
    }

    :last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}

@keyframes changeBottom {
  from {
    bottom: 140%;
  }

  to {
    bottom: 155%;
  }
}

.tooltip-floating .tooltip-content {
  visibility: visible;
  opacity: 1;
  width: 60px;
  font-size: 14px;
  line-height: 30px;
  background: #76dbc7;
  color: white;
  padding: 0;
  text-align: center;
  position: absolute;
  border-radius: 15px 15px;
  z-index: 1;
  bottom: 140%;
  left: 50%;
  margin-left: -30px;
  animation-duration: 0.3s;
  animation-name: changeBottom;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: opacity ease 0.3s;

  &.hidden {
    opacity: 0;
  }
}

.tooltip-floating .tooltip-content::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #76dbc7 transparent transparent transparent;
}
