@import 'variables';

@include mat-core();

$muzika-primary: mat-palette($primary-palette, 700, 300, 900);
$muzika-accent:  mat-palette($secondary-palette);

$muzika-theme: mat-light-theme($muzika-primary, $muzika-accent);

@include angular-material-theme($muzika-theme);
