/deep/ .markdown-content {
  ol, ul {
    padding-left: 1.6em;

    li {
      padding-left: 0.6em;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: #343c4d;
  }

  p, li {
    font-size: 16px;
    color: #000000;
  }

  a {

  }
}
