
<!-- Staff Team start -->
<section class="section" id="roadmap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section-title text-center mx-auto">
          <div class="section-title-icon">
            <i class="pe-7s-like2 text-custom"></i>
          </div>
          <h2>ROADMAP</h2>
          <p class="mt-4 text-muted">
            Our revolutionary journey has just begun
          </p>
        </div>
      </div>
    </div>
    <div class="cd-horizontal-timeline">
      <div class="timeline">
        <div class="events-wrapper">
          <div class="events">
            <ol>
              <li *ngFor="let timeline of timelineList; let i = index">
                <a href="#0" [attr.data-date]="timeline.date" [attr.data-index]="i" [class.selected]="timeline.selected" [class.current]="timeline.current">
                  <div class="topic-summary" [attr.data-date]="timeline.date" [attr.data-index]="i">
                    {{timeline.topicTitle}}
                  </div>
                  {{timeline.topic}}
                  <ng-container *ngIf="timeline.current">
                    (Current)
                  </ng-container>
                </a>
              </li>
            </ol>

            <span class="filling-line" aria-hidden="true"></span>
          </div> <!-- .events -->
        </div> <!-- .events-wrapper -->

        <ul class="cd-timeline-navigation">
          <li><a href="#0" class="prev inactive">Prev</a></li>
          <li><a href="#0" class="next">Next</a></li>
        </ul> <!-- .cd-timeline-navigation -->
      </div> <!-- .timeline -->

      <div class="events-content">
        <ol>
          <li *ngFor="let timeline of timelineList; let i = index" [attr.data-index]="i" [class.selected]="timeline.selected" [attr.data-date]="timeline.date">
            <h2>{{timeline.title}}</h2>
            <em>{{timeline.subtitle}}</em>
            <p>
              {{timeline.description}}
            </p>
          </li>

        </ol>
      </div> <!-- .events-content -->
    </div>
  </div>
</section>
<!-- Team end  -->
