:host {
  display: block;
  background-color: #fafbfc;
  padding-top: 50px; // navbar height
}

.container {
  padding: 80px 0;
}

#qa-section {
  background-color: #fafbfc;
}

mzk-faq-qa {
  margin-bottom: 40px;
}
