<app-intro-navbar [stickOnTop]="true"></app-intro-navbar>

<div class="container text-center pb-0">
  <h2 class="intro-section-title"> Privacy Policy <small>for Muzika Sound</small> </h2>
</div>

<section id="qa-section">
  <div class="container">
    <ng-container *ngIf="currentLang == 'ko'">
      정보통신망 이용촉진 등에 관한 법률 등 관련 법률에 의한 개인정보 보호규정 및 정보통신부가 제정한 개인정보지침을 준수하고 있습니다. <BR />
      <BR />
      1. 개인정보의 수집 항목 <BR />
      원활한 서비스 이용과 고객과의 소통을 위해 다음의 정보를 수집합니다. <BR />
      ∙ 필수항목(회원입력정보) : Gmail 아이디 또는 Facebook 아이디 <BR />
      ∙ 필수항목(생성정보) : 회원의 기기정보 – 사용기기별(스마트폰, Tablet PC 등) 모델명∙ 단말기고유번호, 휴대전화번호 <BR />
      ∙ 자동수집항목 : 서비스이용기록, 음악 재생기록, IP Address, 접속 기록, 쿠키 등 <BR />
      ∙ 선택 가능한 수집항목 : 이름, 이메일, Facebook 친구목록, 연락처 <BR />
      <BR />
      <BR />
      2. 개인정보의 수집 이용 목적 <BR />
      ∙ 필수항목(회원입력정보) : 로그인시에 사용자확인, 중복 로그인 방지, 부정 이용 방지를 위한 목적으로 사용합니다. <BR />
      ∙ 필수항목(생성정보) ; 서비스 부정이용 방지, 저작권법과 해당 법의 하위 법규 및 규정 준수, 서비스 오류 발생시 민원 처리를 위해 사용합니다. <BR />
      ∙ 자동수집항목 : 저작권료 정산을 위한 서비스 이용 내역 확인, 명시적 불법행위 및 부정행위에 대한 제재, 관련 법령에 따른 서비스 제공자로서의 정보제공의무의 원활한 이행, 통계학적 분석 등의 목적에 사용합니다. <BR />
      ∙ 선택 가능한 수집항목 : 음악 추천, 사용자 행동/선호도 분석, 이벤트 소식 및 이벤트 당첨자 연락을 위해 사용합니다. <BR />
      <BR />
      <BR />
      3. 개인정보 공유 및 제공 <BR />
      회원의 동의가 있거나 법률의 규정 또는 수사목적으로 법령에 정해진 절차와 방법에 따른 수사기관의 요구에 의한 경우를 제외하고, 어떠한 경우에도 본 방침을 넘어 이용자의 개인정보를 이용하거나 외부에 공개하지 않습니다. <BR />
      <BR />
      <BR />
      4. 개인정보의 위탁 <BR />
      회원의 동의 없이 개인정보를 외부에 위탁하지 않습니다. <BR />
      <BR />
      <BR />
      5. 개인정보의 보유 및 이용기간 <BR />
      -가입 회원정보는 탈퇴할 시 5년간 보관 후 파기됩니다. <BR />
      -단 게시물에서의 개인정보(닉네임 등)는 사이트 폐쇄 시까지 보관합니다. <BR />
      <BR />
      <BR />
      6. 개인정보의 파기절차 및 방법 <BR />
      ∙ 파기절차: 가입 회원정보는 탈퇴 후 5년간 보관한 후, 어떠한 용도로도 열람 또는 이용할 수 없도록 파기 처리합니다. <BR />
      ∙ 파기방법: 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. <BR />
      <BR />
      <BR />
      7. 이용자 및 법정대리인의 권리와 그 행사방법 <BR />
      이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다. <BR />
      <BR />
      <BR />
      8. 개인정보의 기술적/관리적 보호 대책 <BR />
      이용자들의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적/관리적 대책을 강구하고 있습니다. <BR />
      ∙ 개인정보 암호화 <BR />
      개인정보는 암호화되어 저장 및 관리되고 있어, 제3자의 열람이 불가능합니다. <BR />
      ∙ 해킹 등에 대비한 대책 <BR />
      해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다. <BR />
      <BR />
      9. 개인정보 관리 책임자 <BR />
      - 성명 : 허상민 <BR />
      - 직책 : 운영자 <BR />
      - 전화번호 : 02-2299-8879 <BR />
      <BR />
      <BR />
      10. 개인정보에 대한 민원처리 <BR />
      개인정보 침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다. <BR />
      - 개인정보침해신고센터 (http://www.privacy.kisa.or.kr / 국번없이 118) <BR />
      - 대검찰청 사이버범죄수사단 (www.spo.go.kr / 02-3480-3571) <BR />
      - 경찰청 사이버테러대응센터 (www.ctrc.go.kr / 국번없이 182) <BR />
      <BR />
      <BR />
      11. 고지의 의무 <BR />
      이 개인정보 취급방침이 법령, 정책 또는 보안기술의 변경에 따라 내용이 추가, 삭제 및 수정될 경우에는 변경사항의 시행일의 7일전부터 사이트에 공고할 것입니다. <BR />
      ∙ 공고일자: 2018년 12월 9일 <BR />
      ∙ 시행일자: 2018년 12월 9일
    </ng-container>
  </div>
</section>
