
/*********************
    6.Cta
**********************/

.bg-cta {
  //background: url('../images/bg-cta.jpg');
  padding: 40px 0 !important;
  background-size: cover;
  background: #edeff2 fixed center center !important;
}

.critarea-desc h5 {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.4;
}

.cta-content p{
  line-height: 1.6;
  color: #fff;
}
