/* You can add global styles to this file, and also import other style files */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import 'theme/variables';

/* Customize Bootstrap */
$primary: $primary-color;
$secondary: $secondary-color;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px
);

$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

@import '~bootstrap/scss/bootstrap';

@import 'theme/material';

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWx8QCQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxY.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY5KcU.ttf) format('truetype');
}

html, body {
  background-color: $background-color;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

.bg-primary {
  color: mat-contrast($primary-palette, 700);
}

.bg-secondary {
  color: mat-contrast($secondary-palette, 700);
}

.material-shadow {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

button:focus {
  outline: none;
}

/* Scrollbar design */
/*
::-webkit-scrollbar {
  width: 6px;

  * {
    background: transparent;
  }
}

::-webkit-scrollbar * {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}
*/

.alertify {
  z-index: 3;
}


.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 0;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 4px 8px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #f56400;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #a94500;
  background-color: #eeeeee;
  border-color: #dddddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #ffffff;
  background-color: #f56400;
  border-color: #f56400;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 7px 12px;
  font-size: 18px;
  line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 3px 7px;
  font-size: 12px;
  line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}


/**
 * HELPER for Intro
 **/
@import 'helper';

h2.intro-section-title {
  font-size: $px2rem_48;
  font-weight: 700;
  color: #4d5256;

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

p.intro-section-subtitle {
  font-size: $px2rem_18;
  font-weight: 400;
  color: #878d91;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

