:host {
  display: block;
}

a {
  display: inline-block;
  line-height: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

brand-icon-muzika {
  display: inline-block;
  fill: black;
  height: 12px;
  transition: fill 0.2s ease-in-out;
}

