@import '../../../theme/variables';

.navbar-brand {
  font-weight: 700;
  line-height: 30px;
  outline: none;
  cursor: pointer;

  brand-icon-muzika {
    height: 30px;
    fill: $main-color-text;
  }
}
