@import '../../../../theme/variables';

:host {
  background-color: $navbar-background;
  display: block;
  position: relative;
  height: 87px;
}

.navbar {
  height: 100%;
}

.container-fluid {
  padding: 0 32px;
}

.navbar-brand {
  outline: none;
  cursor: pointer;
  color: #fff;

  brand-icon-muzika {
    display: inline-block;
    height: $navbar-brand-size;

    /deep/ .muzika-icon-striped-primary {
      fill: $brand-color-1;
    }

    /deep/ .muzika-icon-striped-secondary {
      fill: $brand-color-2;
    }
  }

  span {
    line-height: $navbar-brand-size;
  }
}

.navbar-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .main-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      text-align: center;
      text-transform: uppercase;
      color: white;
      outline: none;
      transition: all 0.1s ease-in-out;
      display: inline-block;
      font-weight: bold;
      font-size: 1rem;
      margin-right: 60px;

      &.active {
        //border-bottom: 5px solid $primary-color;
        //font-size: 115%;
        color: #fff;
      }

      &:last-child {
        margin-right: 0;
      }

      &[routerLink] {
        cursor: pointer;
      }
    }
  }
}

.wallet {
  text-transform: lowercase;
  color: map-get($secondary-palette, 500);
}

.btn-login {
  display: block;
  color: white;
}

.user-profile-img {
  img {
    height: 2.8rem;
    border-radius: 50%;
  }
}

.search {
  position: relative;

  .search-wrapper {
    background: #fff;
    border-radius: 4px;
    width: 360px;
    color: #404040;

    .search-icon {
      float: left;
      padding: 0 16px;

      i {
        padding: 0;
        margin: 0;
      }
    }

    .search-input {
      overflow: hidden;

      input {
        background: transparent;
        border: none;
        outline: none;
        height: 100%;
      }
    }
  }
}

.user-name {
  color: #fff;
}

.wallet {
  color: #a8a8a8;
}
