@import '../../../../theme/variables';

:host {
  display: block;
  position: relative;
}

.navbar-brand {
  outline: none;
  cursor: pointer;
  color: white;
  vertical-align: middle;

  brand-icon-muzika {
    display: block;
    float: left;
    margin-top: -1px;
    margin-right: 15px;
    height: $navbar-brand-size;

    /deep/ .muzika-icon-striped-primary {
      fill: white;
    }

    /deep/ .muzika-icon-striped-secondary {
      fill: white;
    }
  }

  > span {
    line-height: $navbar-brand-size;
    font-size: 18px;
    @media(max-width: 738px) {
      display: none;
    }
  }
}

.navbar-nav li.divider {
  border-right: 1px solid white;
  height: 17px;
  margin: 11px 8px 0 8px;
}

.navbar-light .navbar-toggler {
  border: none;
}

/*********************
    15.RESPONSIVE
**********************/

@media (min-width: 200px) and (max-width: 768px) {
  .navbar-custom {
    background-color: white;
  }
  .navbar-custom .container {
    width: 90%;
    padding: 10px 0;
  }
  .home-title {
    font-size: 34px;
  }

  .price-box-active {
    transform: scale(1.0);
  }
  .nav-sticky .navbar-toggler {
    color: white;
  }

  .bg-home {
    height: auto;
  }

  .home-form {
    height: auto;
  }

  .fa-bars { // 맨 오른쪽 메뉴
    color: white;
  }

  .navbar-nav li.divider {
    border-right: 1px solid #BBB;
  }
}

@media (max-width: 991px) {
  .nav-sticky .navbar-toggler {
    color: white;
  }

  .bg-backslide, .bg-home-full, .home-slider .carousel-item, .home-slider .carousel {
    height: auto;
  }
}

/*********************
    2.NAVBAR-CUSTOM
**********************/

.navbar-custom {
  background: transparent;
  @media(max-width: 738px) {
    background: #192538;
  }
  padding: 5px 0;
  width: 100%;
  border-radius: 0;
  z-index: 999;
  margin-bottom: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-sticky.navbar-custom {
  background: white;
}

.navbar-custom .navbar-nav li > a {
  color: white;
  font-size: 14px;
  background-color: transparent;
  margin: 0 5px;
  letter-spacing: 0.03em;
  line-height: 24px;
  transition: all 0.5s;

  &:hover {
    color: #76dbc7;
  }
}

.navbar-custom .navbar-brand {
  font-family: libre baskerville, serif;
  letter-spacing: 2px;
  @media(max-width: 738px) {
    padding-top: 0;
    margin-top: -4px;
  }
}

.navbar-custom .nav-social li > a {
  color: black;
}

.navbar-custom .navbar-toggler {
  color: black;
  font-size: 23px;
  padding: 0px;
}

.navbar-custom .nav-social {
  margin-left: 25px;
}

.navbar-custom.nav-sticky {
  background-color: #fff !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  .fa-bars {
    color: black;
  }
}

.nav-sticky .navbar-nav li > a {
  color: #000;
}

.nav-sticky .navbar-brand {
  color: #000;
  brand-icon-muzika {
    /deep/ .muzika-icon-striped-primary {
      fill: black;
    }

    /deep/ .muzika-icon-striped-secondary {
      fill: black;
    }
  }

  @media(max-width: 738px) {
    span {
      display: none;
    }
  }
}

.icon-lang {
  background: url('../../../../assets/intro-img/design/country.png') no-repeat;
  background-size: 128px 30px;
  width: 27px;
  height: 25px;
  display: inline-block;
  margin-right: 6px;
  float: left;

  &.ko {
    background-position: -2px -2px;
  }

  &.en {
    background-position: -34px -2px;
  }

  &.zh {
    background-position: -66px -2px;
  }
}

.navbar-nav li a {
  .dropdown-menu a.dropdown-item {
    color: black;
  }
}

.navbar:after {
  bottom: -5px;
  box-shadow: inset 0 4px 8px -3px rgba(17, 17, 17, .06);
  content: "";
  height: 5px;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 2050;
}

.dropdown-menu {
  .dropdown-item {
    cursor: pointer;
  }

  .dropdown-item.active {
    background: #192538;
    color: white;
  }
}

.mobile-only {
  display: none;

  .dropdown-menu {
    min-width: 50px;
    margin-left: -10px;
  }

  .dropdown-item {
    padding: 4px 10px;
  }

  .dropdown-item > .icon-lang {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

@media(max-width: 738px) {
  .mobile-only {
    display: block;
    position: absolute;
    top: 14px;
    right: 15%;
  }
}
