@import '../../../../theme/variables';

:host {
  display: block;
  position: relative;
}

.navbar-brand {
  outline: none;
  cursor: pointer;
  color: black;
  vertical-align: middle;

  brand-icon-muzika {
    display: block;
    float: left;
    margin-top: 3px;
    margin-right: 15px;
    height: $navbar-brand-size;
  }

  span {
    line-height: $navbar-brand-size;
    font-size: 18px;
  }
}

.navbar-nav li.divider {
  border-right: 1px solid white;
  height: 17px;
  margin: 11px 8px 0 8px;
}


/*********************
    15.RESPONSIVE
**********************/

@media (min-width: 200px) and (max-width: 768px) {
  .navbar-custom {
    background-color: white;
    padding: 10px 0px !important;
  }
  .navbar-custom .container {
    width: 95%;
  }
  .home-title {
    font-size: 34px;
  }

  .price-box-active {
    transform: scale(1.0);
  }
  .nav-sticky .navbar-toggler {
    color: #000;
  }

  .bg-home {
    height: auto;
  }

  .home-form {
    height: auto;
  }

  .navbar-nav li.divider {
    border-right: 1px solid #BBB;
  }
}

@media (max-width: 991px) {
  .nav-sticky .navbar-toggler {
    color: #000;
  }

  .bg-backslide, .bg-home-full, .home-slider .carousel-item, .home-slider .carousel {
    height: auto;
  }

}

/*********************
    2.NAVBAR-CUSTOM
**********************/

.navbar-custom {
  background: white;
  padding: 12px 0;
  width: 100vw;
  border-radius: 0;
  z-index: 999;
  margin-bottom: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-custom .navbar-nav li > a {
  color: #878d91;
  font-size: 14px;
  background-color: transparent;
  margin: 0 5px;
  letter-spacing: 0.03em;
  line-height: 24px;
  transition: all 0.5s;

  &:hover {
    color: #1a1a1a;
  }
}

.navbar-custom .logo img {
  height: 38px;
}

.logo .logo-light {
  display: inline-block;
}

.nav-sticky .logo .logo-dark {
  display: inline-block;
}

.nav-sticky .logo .logo-light {
  display: none !important;
}

.logo .logo-dark {
  display: none;
}

.navbar-custom .navbar-brand {
  font-family: libre baskerville, serif;
  letter-spacing: 2px;
}

.navbar-custom .nav-social li > a {
  color: black;
}

.navbar-custom .navbar-toggler {
  color: black;
  font-size: 23px;
  padding: 0px;
}

.navbar-custom .nav-social {
  margin-left: 25px;
}

.navbar-custom.nav-sticky {
  background-color: #fff !important;
  padding: 12px 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.nav-sticky .navbar-nav li > a {
  color: #000;
}

.nav-sticky .navbar-brand {
  color: #000;
  brand-icon-muzika {
    /deep/ .muzika-icon-striped-primary {
      fill: black;
    }

    /deep/ .muzika-icon-striped-secondary {
      fill: black;
    }
  }
}

.navbar-nav li a {
  .dropdown-menu a.dropdown-item {
    color: black;
  }
}

.navbar:after {
  bottom: -5px;
  box-shadow: inset 0 4px 8px -3px rgba(17, 17, 17, .06);
  content: "";
  height: 5px;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 2050;
}
