<nav class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <brand-icon-muzika></brand-icon-muzika>
      <span>Muzika</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fal fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#ecosystem">Ecosystem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mzk-coins">MZK Coin Usage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#investor">Investors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#leadership-team">Team</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#advisors">Advisors</a>
        </li>

       <li class="nav-item">
          <a class="nav-link" href="#roadmap">Roadmap</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/beta">Services</a>
        </li>

        <li class="divider">&nbsp;</li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ENG
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="changeLang('en')">English</a>
            <a class="dropdown-item" (click)="changeLang('ch')">中文</a>
            <a class="dropdown-item" (click)="changeLang('ko')">한국어</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
