<section class="post-list-section">
  <div class="row">
    <div class="tag-section">
      <div class="tags-all font-weight-bold mb-2"> Topic </div>
      <ul class="tags">
        <li *ngFor="let tag of tags">
          <a> {{tag}} </a>
        </li>
      </ul>
    </div>

    <div class="col pl-0">
      <div class="scroll-post-content">
        <div class="bg-white">
          <router-outlet></router-outlet>
        </div>

        <div class="video-list">
          <a *ngFor="let post of posts"
             app-youtube-video-cell
             [routerLink]="['/board/video', post.post_id]"
             queryParamsHandling="preserve"
             [attr.title]="post.title"
             class="theme-large theme-underbar" [post]="post">
          </a>
        </div>
        <div class="clearfix"></div>

      </div>
    </div>
  </div>
</section>

<div class="write-overlay">
  <button mat-fab color="accent" routerLink="/board/video/write">
    <i class="fa fa-pencil"></i>
  </button>
</div>
