<section class="post-list-section">
  <div class="row">
    <div class="tag-section">
      <div class="tags-all font-weight-bold mb-2"> 태그 </div>
      <ul class="tags">
        <li *ngFor="let tag of tags">
          <a> {{tag}} </a>
        </li>
      </ul>
    </div>

    <div class="col pl-0">
      <div class="scroll-post-content">
        <div class="bg-white">
          <router-outlet></router-outlet>
        </div>

        <div class="bg-white border">
          <table class="table">
            <thead>
            <tr>
              <th> 제목 </th>
              <th width="140"> 글쓴이 </th>
              <th width="130"> 조회수 </th>
              <th width="130"> 좋아요수 </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let post of posts">
              <td> <a [routerLink]="[post.post_id]"> {{post.title}} </a> </td>
              <td> {{post.author.name}} </td>
              <td> {{post.views}} </td>
              <td> {{post.likes}} </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="write-overlay">
  <button mat-fab color="accent" routerLink="/board/video/write">
    <i class="fa fa-pencil"></i>
  </button>
</div>
